<div class="stage_budget_title pb-3 mb-3">Dashboard</div>
<ul class="stage_budget_steps">
    <li routerLinkActive="active" class="mb-2"><a class="d-flex align-items-center p-3 w-100" routerLink="/user/my-profile"><i class="fas fa-angle-right mr-2"> </i>My Profile</a></li>
    <li routerLinkActive="active" class="mb-2"><a class="d-flex align-items-center p-3 w-100" routerLink="/user/change-password"><i class="fas fa-angle-right mr-2"></i>Change Password</a></li>
    <li routerLinkActive="active" class="mb-2"><a class="d-flex align-items-center p-3 w-100" routerLink="/stage-one-overview"><i class="fas fa-angle-right mr-2"></i>Stage 1 Overview</a></li>
    <li routerLinkActive="active" class="mb-2"><a class="d-flex align-items-center p-3 w-100" routerLink="/stage-second-overview"><i class="fas fa-angle-right mr-2"></i>Stage 2 Overview</a></li>
    <li routerLinkActive="active" class="mb-2"><a class="d-flex align-items-center p-3 w-100" routerLink="/stage-third-overview"><i class="fas fa-angle-right mr-2"></i>Stage 3 Overview</a></li>
    <li routerLinkActive="active" class="mb-2"><a class="d-flex align-items-center p-3 w-100" routerLink="/stage-four-overview"><i class="fas fa-angle-right mr-2"></i>Stage 4 Overview</a></li>
</ul>