<div class="body_section mt-4 mb-5">
  <div class="container">
      <app-gameheader></app-gameheader>
      <div class="data_content_sec mb-5">
          <div class="row justify-content-center">
              <div class="col-12 col-sm-8 col-md-6 col-lg-4 text-center">
                  <h2 class="login_title mt-5">Reset Password</h2>
                  <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()" class="form_sec p-4 pb-5">
                      <div class="form-group">
                          <input class="form-control" formControlName="password" type="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="Password">
                          <div *ngIf="submitted && f.password.errors" class="invalid-feedback text-left">
                              <div *ngIf="f.password.errors.required">Password is required.</div>
                              <div *ngIf="f.password.errors.minlength">Password must be 6 character long.</div>

                          </div>
                      </div>
                      <div class="form-group">
                          <input class="form-control" formControlName="confirmPassword" type="password" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" placeholder="Confirm Password">
                          <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback text-left">
                            <div *ngIf="f.confirmPassword.errors.required">Password is required.</div>
                            <div *ngIf="f.confirmPassword.errors.minlength">Password must be 6 character long.</div>
                            <div *ngIf="f.confirmPassword.errors.mustMatch">Password and Confirm Password does not match.</div>
                          </div>
                      </div>
                      <div class="form_btn_view my-5">
                          <button class="btn" type="submit">Submit <i class="fas fa-chevron-circle-right ml-4"></i></button>
                      </div>
                      <div class="already_account">Already have an account? <a routerLink="/login">Login</a></div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>
