<div class="body_section mt-4 mb-5">
  <div class="container">
      <app-gameheader></app-gameheader>
      <div class="data_content_sec mb-5">
          <div class="row justify-content-center">
              <div class="col-12 col-sm-8 col-md-6 col-lg-4 text-center">
                  <h2 class="login_title mt-5">Login</h2>
                  <form [formGroup]="loginForm" (ngSubmit)="login()" class="form_sec p-4 pb-5">
                      <div class="form-group">
                          <input class="form-control" formControlName="email" type="text" placeholder="Email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                          <div *ngIf="submitted && f.email.errors" class="invalid-feedback text-left">
                            <div *ngIf="f.email.errors.required">Email is required</div>
                            <div *ngIf="f.email.errors.email">Email is not valid</div>
                          </div>
                      </div>
                      <div class="form-group">
                          <input class="form-control" formControlName="password" type="password" placeholder="Password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }">
                          <div *ngIf="submitted && f.password.errors" class="invalid-feedback text-left">
                            <div *ngIf="f.password.errors.required">Password is required.</div>
                            <div *ngIf="f.password.errors.minlength">Password must be 6 character long.</div>
                          </div>
                      </div>
                      <div class="checkboxes_block d-flex align-items-center form-group">
                          <div class="checkbox">
                              <label><input type="checkbox"><span class="check mr-2">&nbsp;</span>Remember me</label>
                          </div>
                          <div class="ml-auto"><a routerLink="/forget-password">Forgot password?</a></div>
                      </div>
                      <div class="form_btn_view my-5">
                          <button class="btn" type="submit">Sign in <i class="fas fa-chevron-circle-right ml-4"></i></button>
                          <div class="or_divider text-center my-4"><span>Or</span></div>
                          <button class="btn linkedin_btn" type="button"><i class="fab fa-linkedin-in mr-3"></i> Sign in with Linkedin</button>
                      </div>
                      <div class="already_account">Don't have an account? <a routerLink="/team-signup"> SIGN UP</a></div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>
