<div class="body_section mt-4 mb-5">
    <div class="container">
        <app-gameheader></app-gameheader>
        <div class="row">
            <div class="col-lg-3 col-md-4">
                <div class="stage_budget_col_left profile_menu_block p-3">
                    <app-profilesidebar></app-profilesidebar>
                </div>
            </div>
            <div class="col-lg-9 col-md-8">
                <div class="stage_budget_col_right">
                    <div class="profile_ata_block p-4">
                        <div class="stage_title flex-fill mb-4">Change Password</div>
                        <form [formGroup]="userForm" #formDir="ngForm" class="form_sec p-4 pb-5" novalidate>
                            <div class="form-group">
                                <input id="old_password" type="password" class="form-control" formControlName="old_password" placeholder="Enter Old Password" required >

                                <div *ngIf="userForm.controls.old_password.invalid && (userForm.controls.old_password.dirty || userForm.controls.old_password.touched)" class="text-danger">
                                  <div *ngIf="userForm.controls.old_password.errors.required"> Old Password is required.</div>
                                  <div *ngIf="userForm.controls.old_password.errors.minlength"> Old Password must be at least 6 characters long.</div>          
                                </div>
                            </div>
                            <div class="form-group">
                                <input id="password" type="password" class="form-control" formControlName="password" placeholder="Enter Password" required >

                                <div *ngIf="userForm.controls.password.invalid && (userForm.controls.password.dirty || userForm.controls.password.touched)" class="text-danger">
                                  <div *ngIf="userForm.controls.password.errors.required"> Password is required.</div>
                                  <div *ngIf="userForm.controls.password.errors.minlength"> Password must be at least 6 characters long.</div>          
                                </div>
                            </div>
                            <div class="form-group">
                                <input id="confirm_password" type="password" class="form-control" formControlName="confirm_password" placeholder="Re-enter Password" required >

                                <div *ngIf="userForm.controls.confirm_password.invalid && (userForm.controls.confirm_password.dirty || userForm.controls.confirm_password.touched)" class="text-danger">
                                  <div *ngIf="userForm.controls.confirm_password.errors.required"> Confirm Password is required.</div>
                                  <div *ngIf="userForm.controls.confirm_password.errors.minlength"> Confirm Password must be at least 6 characters long.</div> 
                                </div>
                                <div *ngIf="userForm.controls.confirm_password.touched && userForm.hasError('validConfirmPassword')" class="text-danger">
                                  <div *ngIf="userForm.hasError('validConfirmPassword')">Confirm Password does not match.</div>
                                </div>
                            </div>
                            
                            <div class="form_btn_view my-5">
                                <button class="btn btn-primary"  (click)="submitForm()">Submit <i class="fas fa-chevron-circle-right ml-4"></i></button>
                                <!-- <button class="btn" type="submit">Update Profile <i class="fas fa-chevron-circle-right ml-4"></i></button> -->
                            </div>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
      
    </div>
</div>
