<header class="navigation">
    <div class="container">
        <nav class="navbar navbar-expand-md">
            <a class="logo"routerLink="/" title=""><img src="/assets/img/logo.png" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse align-items-center" id="navbarCollapse">
                <ul class="navbar-nav header_btns ml-auto">
                    <li class="active nav-item d-inline-flex"><a href="" title=" Game in Progress"> Start : {{this.mainPageSettings?.start_date | date:'mediumDate'}}</a></li>
                    <li class="nav-item d-inline-flex"><a href="" title="End : Sept 30, 2019">End : {{this.mainPageSettings?.end_date | date:'mediumDate'}}</a></li>
                    <li *ngIf="this.userService.isLoggedIn()"  class="nav-item d-inline-flex" ><a (click)="logout()">Logout</a></li>
                </ul>
            </div>
        </nav>
    </div>
</header>