<footer>
    <div class="container py-4">
        <div class="row align-items-center">
            <div class="col-12 col-md-6">
                <div class="sponsored_by_block d-block text-center d-md-flex align-items-center">
                    <div class="sponsored_by_title">Sponsored by</div>
                    <div class="sponsored_logo d-inline-flex align-items-center ml-0 ml-md-4 mt-4 mt-md-0"><img class="mr-3" src="/assets/img/hks_logo.png" alt="HKS"> HKS Architects</div>
                </div>
            </div>
            <div class="col-12 col-md-6 text-md-right">
                <ul class="footer_links">
                    <li class="d-inline-flex mx-3"><a target="_blank" href="https://www.thelisamovement.com/about/" title="Who is LISA">Who is LISA</a></li>
                    <!-- <li class="d-inline-flex mx-3" ><a routerLink="/pages/faq" title="Rules &amp; FAQ" >Rules &amp; FAQ</a></li> -->
                    <li class="d-inline-flex mx-3"><a routerLink="/pages/help" title="Help">Help</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="copyright_sec">
        <div class="container text-center py-3">
            2020 &copy;The LISA Movement LLC<span class="d-inline-block px-4">|</span>All Rights Reserved
        </div>
    </div>
</footer>