<ng-container *ngIf="!this.parentRoute">
    <h1 class="page_innertitle text-center mb-5"> {{this.contentSettings.main_page_title}} <small class="pt-3">{{this.contentSettings.main_page_subtitle}}</small></h1>
</ng-container>

<ng-container *ngIf="this.parentRoute || this.urlSegmentCheck[0].path == 'team-chat'">
    <div class="d-md-flex align-items-end d-block pt-3">
        <div class="flex-fill mb-md-5 mb-4"><h1 class="page_innertitle">{{this.contentSettings.main_page_title}}</h1></div>
        <div class="flex-fill text-md-right mb-md-5 mb-4" *ngIf="this.userService.isLoggedIn()">
            <div class="welcome_title mb-3">
                Welcome, <a href="javascript:void();" data-toggle="dropdown" aria-expanded="true"><span>{{this.userService.getCurrentUser().name}}</span></a>
                <ul class="dropdown-menu">
                    <li><a routerLink="/user/my-profile" title="Stage">Dashboard</a></li>
                </ul>
            </div>
        </div>
    </div>    
</ng-container>