<div class="body_section mt-4 mb-5">
    <div class="container">
        <app-gameheader></app-gameheader>
        <div class="data_content_header d-flex align-items-center justify-content-center p-3">You should know</div>
        <div class="data_content_sec mb-5">
            <div class="row">
                <div class="col-12 p-5">
                    <div class="row">
                        <div class="col-md-6 mb-5" *ngFor="let detail of this.detailsCat1;let i = index">
                            <div class="knowledge_content_panel">
                                <h4 class="knowledge_content_heading mb-4">Strategies to Win </h4>
                                <span class="d-block mb-3" *ngIf="(detail.title!='')">{{detail.title}} &nbsp;</span>
                                <div class="knowledge_content_info pb-0">
                                    <div class="text-butify">
                                        There are four stages, and each stage involves a maximum of 60-minute game time, over a span of four weeks. Per minute value increases in successive stages. There is a pause button. Save time, and you earn more money.
                                        <br>
                                        Each team has four members, one of whom should be designated as stage manager. Only the stage manager can interact with the computer. Team members are encouraged to interact among themselves via the provided team chat mechanism, or by text, email, or telephone. One person may act as team manager for all four stages, although a team is encouraged to choose a different manager for each stage.
                                        The less time you spend on a stage, the more money you earn – at an increased rate as the stages progress.
                                        <br>
                                        The caliber of your workforce (chosen in Stage 1) determines the number of issues and inspections that you will face in Stages 3 & 4. Quality and Safety are the major determinants of workforce caliber.
                                    </div>
                                        <!-- <iframe [src]="detail.video | safeUrl"></iframe> -->
                                </div>
                                <div class="d-flex align-items-center mt-1">
                                    <div class="knowledge_content_logo_title">
                                        <p class="mb-0"><small class="d-block mb-2"></small>{{detail.short_description}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-5" *ngFor="let detail of this.detailsCat2" >
                            <div class="knowledge_content_panel" *ngIf="(detail.category == 1)">
                                <h4 class="knowledge_content_heading mb-4">The Building</h4>
                                <span class="d-block mb-3" *ngIf="(detail.title!='')">{{detail.title}}</span>
                                <div class="knowledge_content_info pb-0">
                                    <div class="text-butify">
                                        There is probably no more iconic building in San Francisco than the 48-story Transamerica Pyramid, located in the City’s financial district. It was completed in 1972, and until Salesforce Tower’s completion in 2018, stood as the City’s tallest building. The general contractor was the Dinwiddie Construction Company, now known as Hathaway Dinwiddie, and the architect was William L. Pereira & Associates, based in Los Angeles. While the Transamerica Corporation no longer has any operations in the building, it is still referred as the Transamerica Pyramid. In 2020 the building was purchased by New York-based developer SHVO.
                                        <br>
                                        Back in the early 1970s when its development was being proposed, it was opposed by a host of local constituencies. Since then, it has become a San Francisco icon. The original construction cost was $32 million.
                                    </div>
                                        <!-- <iframe [src]="detail.video | safeUrl"></iframe> -->
                                </div>
                                <div class="d-flex align-items-center mt-1">
                                    <div class="knowledge_content_logo_title">
                                        <p class="mb-0"><small class="d-block mb-2"></small>{{detail.short_description}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <div class="row">
                        <!-- <div class="col-md-4 mb-5" *ngFor="let detail of this.detailsCat3;let i=index"> -->
                        <div class="col-md-6 mb-5">
                            <div class="knowledge_content_panel">
                                <!-- <h4 class="knowledge_content_heading mb-4" *ngIf="i==0">Inspectors</h4> -->
                                <h4 class="knowledge_content_heading mb-4">Inspectors</h4>
                       
                                <!-- <span class="d-block mb-3" *ngIf="(detail.title!='')">{{detail.title}}</span> -->
                                <span class="d-block mb-3 knowledge_content_heading">Elvira (Chief Inspector)</span>
                                <div class="knowledge_content_info pb-0">
                                    <div class="text-butify">Elvira is drop dead beautiful. Forty-something and many do not take her seriously.
                                        She has a PhD in metallurgy from the University of Colorado. She moved to San Francisco about 10 years ago and lives in the Inner Sunset with her husband who is an insurance adjuster. No children. She joined the Building Department upon arrival in San Francisco and was rapidly promoted to her current job. She does not suffer fools lightly. She knows her business, goes by the book, and is often called upon by other Bay Area inspectors to lend an assist. Though hard to detect, she has a wry sense of humor.
                                        Elvira’s main concern is Quality.</div>
                                        <!-- <iframe [src]="detail.video | safeUrl"></iframe> -->
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 mb-5">
                            <div class="knowledge_content_panel">
                                <h4 class="knowledge_content_heading mb-4">&nbsp;</h4>
                                <span class="d-block mb-3 knowledge_content_heading">Tennenbaum (Assistant Inspector)</span>
                                <div class="knowledge_content_info pb-0">
                                    <div class="text-butify">Some call him Elvira’s puppy dog. He adores her and does her bidding and shows up on the job every day, only calling upon Elvira when there is a major issue. He came up through the ranks, graduating from University High School, and never pursued a college education, because he was the oldest of seven kids and had to support the family. He has no sense of humor. He gave up high school football where he could have been all state at tackle. He dreams of being s chief inspector somewhere in the Bay Area one day.
                                    <br>
                                    Tennenbaum is most often concerned about Safety.</div>
                                        <!-- <iframe [src]="detail.video | safeUrl"></iframe> -->
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <!-- <div class="col-md-4 mb-5" *ngFor="let detail of this.detailsCat4;let i=index"> -->
                        <div class="col-md-6 mb-5">
                            <div class="knowledge_content_panel">
                                <!-- <h4 class="knowledge_content_heading mb-4" *ngIf="i==0">Issue  Messengers</h4> -->
                                <h4 class="knowledge_content_heading mb-4" >Issue  Messengers</h4>
                                <!-- <h4 class="knowledge_content_heading mb-4" *ngIf="i!=0">&nbsp;</h4> -->
                                <!-- <span class="d-block mb-3" *ngIf="(detail.title!='')">{{detail.title}}</span> -->
                                <span class="d-block mb-3 knowledge_content_heading">Trivial</span>
                                <div class="knowledge_content_info pb-0">
                                    <!-- <iframe [src]="detail.video | safeUrl"></iframe> -->
                                    <div class="text-butify">This messenger presents the most trivial of issues.  Ignoring these issues results in a minimum of cost. This messenger may offer some suggestions or tips, which may be ignored with minimal or no cost. </div>
                                </div>
                                <!-- <div class="d-flex align-items-center mt-1">
                                    <div class="knowledge_content_logo_title">
                                        <p class="mb-0"><small class="d-block mb-2"></small>{{detail.short_description}}</p>
                                    </div>
                                </div> -->
                            </div>
                        </div>
                        <div class="col-md-6 mb-2">
                            <div class="knowledge_content_panel">
                                <h4 class="knowledge_content_heading mb-4" >&nbsp;</h4>
                                <span class="d-block mb-3 knowledge_content_heading">Important</span>
                                <div class="knowledge_content_info pb-0">
                                    <div class="text-butify">These are more important issues, and they do represent a cost if ignored. They should not be taken lightly. This messenger may suggest tips, which are sometimes helpful and can save money when followed. </div>
                                </div>
                            </div>
                        </div>
                       
                        
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-5">
                            <div class="knowledge_content_panel">
                                
                                <span class="d-block mb-3 knowledge_content_heading">Crucial</span>
                                <div class="knowledge_content_info pb-0">
                                    <div class="text-butify">This is a no-nonsense messenger who delivers the most important of issues, which cannot be ignored if one wants to save money.  His tips should be taken seriously. </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
               
            </div>
           
        </div>
        <div class="text-center pt-3 mb-4" *ngIf="!this.userService.isLoggedIn()">
            <a class="btn d-inline-flex align-items-center" routerLink="/team-signup">Sign Up <i class="fas fa-chevron-circle-right ml-3"></i></a>
        </div>
        <div class="text-center pt-3 mb-4" *ngIf="this.userService.isLoggedIn()">
            <a class="btn d-inline-flex align-items-center" routerLink="/stages">Stages <i class="fas fa-chevron-circle-right ml-3"></i></a>
        </div>
    </div>
  </div>
  