
<div class="body_section mt-4 mb-5">
  <div class="container">
     
      <app-stages-header></app-stages-header>

      <div class="data_content_sec mb-5">
          <div class="row">
              <div class="col-12 p-5">
                  <div class="row">
                      <div class="col-12">
                          <div class="stage_number text-center mb-4 pb-2">Video Animation – Stage {{content.stage}}</div>
                      </div>
                  </div>
                  <div class="row justify-content-center">
                      <div class="col-12 col-md-10 col-lg-8">
                          <div class="leader_board_video mb-5">
                            <iframe [src]="content.video | safeUrl"></iframe>
                          </div>
                      </div>
                  </div>
                  <div class="stage_btn_group text-center">
                      <a routerLink="/stages/stage-intro/{{gameStage}}" class="btn btn_green m-2">Next</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>


