<div class="body_section mt-4 mb-5">
    <div class="container">
        <app-gameheader></app-gameheader>
        <div class="row">
            <div class="col-lg-3 col-md-4">
                <div class="stage_budget_col_left profile_menu_block p-3">
                    <app-profilesidebar></app-profilesidebar>
                </div>
            </div>
            <div class="col-lg-9 col-md-8">
                <div class="stage_budget_col_right">
                    <div class="profile_ata_block p-4">
                        <div class="stage_title flex-fill mb-4">Stage Third Overview</div>
                        <ng-container *ngIf="stageThird">
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="card ">
                                        <div class="card-header bg-info heading-text-color">Leader</div>
                                        <div class="card-body">{{ getUser(3) | titlecase}}</div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="card">
                                        <div class="card-header bg-info heading-text-color">Budget</div>
                                        <div class="card-body">${{gameDetail?.budget}}</div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="card">
                                        <div class="card-header bg-info heading-text-color">Status</div>
                                        <div class="card-body">
                                            <ng-container>
                                                {{ completedStages?.status }}
                                            </ng-container>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-sm-4">
                                    <div class="card">
                                        <div class="card-header bg-info heading-text-color">Time Saving</div>
                                        <div class="card-body">{{completedStages?.savedMin}} Min</div>
                                    </div>
                                </div>
                                <div class="col-sm-4">
                                    <div class="card">
                                        <div class="card-header bg-info heading-text-color">Bonus</div>
                                        <div class="card-body">${{completedStages?.score}}</div>
                                    </div>
                                </div>
                            </div>
                        </ng-container>
                        <ng-container *ngIf="!stageThird">
                            <div class="row">
                                <div class="col-12">
                                    Stage Not Complete yet
                                </div>
                            </div>
                        </ng-container>
                    </div>
                </div>
            </div>
        </div>
      
    </div>
</div>
