<div class="body_section mt-4 mb-5">
  <div class="container">
      <app-stages-header></app-stages-header>
      <div class="data_content_sec mb-5">
          <div class="row">
              <div class="col-lg-3 col-md-4">
                  <div class="stage_budget_col_left p-3">
                      <div class="">
                          <div class="stage_budget_title pb-3 mb-4">Scoring </div>
                          <div class="stage_scoring p-3">
                              <p class="stage_scoring_highlight_blue">Earning by Saving Time </p>
                              <p class="stage_scoring_highlight">You will earn ${{saveAmount}} on Saving per minute </p>
                              <p class="stage_scoring_text mb-0"><strong>For example:</strong></p>
                              <p class="stage_scoring_text">On saving 10 minutes, your total earning will be </p>
                              <p class="stage_scoring_text">${{saveAmount}} x 10  <strong>= ${{saveAmount*10}}</strong></p>

                              <p class="stage_scoring_highlight_blue">Earning by issue handling </p>
                              <p class="stage_scoring_highlight">You will earn the following on every issue handling</p>
                              <div>
                                  <p class="stage_scoring_text mb-0"><strong>Good   $100,000</strong></p>
                                  <p class="stage_scoring_text mb-0"><strong>Better $200,000</strong></p>
                                  <p class="stage_scoring_text mb-0"><strong>Best    $300,000</strong></p>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-9 col-md-8">
                  <div class="stage_budget_col_right pr-md-4 pl-md-0 px-3 py-4">
                      <div class="stage_status d-flex align-items-center mb-4 mt-2">
                          <div class="stage_title flex-fill">Stage {{gameStage}} : re-build floors 1 - 27</div>
                          <div class="stage_btn ml-auto">
                            <button *ngIf="!pause" (click)="storeTeamStageStatus()" class="btn btn_green"><img class="mr-3" src="/assets/img/play_btn_icon.png" alt="play_btn_icon" />Pause</button>

                            <button *ngIf="pause" (click)="resumeStage()" class="btn btn_green"><img class="mr-3" src="/assets/img/play_btn_icon.png" alt="play_btn_icon" />Play</button>
                          </div>
                      </div>
                      <div class="stage_detail_block">
                          <div class="stage_detail_header d-lg-flex d-block align-items-center py-lg-1 py-3 px-3">
                              <div class="stage_detail_header_title text-center text-lg-left mb-3 mb-lg-0">Issues</div>
                              <div class="d-flex align-items-center ml-auto justify-content-lg-start justify-content-center">
                                  <div class="timer text-right mr-4"><small class="d-block text-white">Sponsored by</small><img src="/assets/img/walter_p_moore_logo.png" alt="walter_p_moore_logo"></div>
                                  <ul class="timer_clock d-flex align-items-center justify-content-md-end">
                                      <li class="text-center">
                                          <div class="timer_bg position-relative">
                                              <span class="timer_number position-absolute">
                                              <countdown #cd [config]="{ leftTime: remainingTime, format: 'mm:ss' }"></countdown></span>
                                          </div>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                          <div class="stage_detail_content_block research_content_second px-4 px-sm-5 py-5">
                              <div class="stage_issues_content">
                                <ng-container *ngFor="let ques of detail;index as ques_index;">
                                  <div *ngIf="currentIndex == ques_index">
                                    <div class="stage_issues_col d-flex align-items-center py-sm-5 py-4 px-4 mx-auto position-relative mb-5">
                                      <div class="stage_issue_girlimg position-absolute"><img src="/assets/img/stage_issue_girl_img.png" alt="stage_issue_girl_img" /></div>
                                      <p class="stage_issues_text mb-0">{{ques.question}}</p>
                                    </div>

                                    <ul class="stage_issues_lists px-lg-5 px-sm-4 mb-5">
                                        <ng-container *ngFor="let ans of ques.answers;index as i;">
                                          	<li class="d-flex align-items-center mb-4" [ngClass]="{active: isActive(ans._id)}" *ngIf="i < 3">
                                          		<span class="d-inline-flex align-items-center justify-content-center mr-3" (click)="selectAnswer(ques._id,ans._id)"> <i class="fas fa-check" *ngIf="isActive(ans._id)"></i>
                                                <ng-container *ngIf="!isActive(ans._id) && i == 0"> A</ng-container>
                                                <ng-container *ngIf="!isActive(ans._id) && i == 1"> B</ng-container>
                                                <ng-container *ngIf="!isActive(ans._id) && i == 2"> C</ng-container>
                                            	</span>{{ans.answer}}
                                          	</li>
                                        </ng-container>
                                    </ul>
                                  </div>
                                </ng-container>
                                <div class="text-center stage_btn_group">
                                    <button type="button" class="btn btn_green m-2" (click)="questionPrev(currentIndex)" *ngIf="currentIndex > 0">Prev</button>
                                    <button type="button" class="btn btn_green m-2" (click)="submitResult();">Submit</button>
                                    <button type="button" class="btn btn_green m-2" (click)="questionNext(currentIndex)" *ngIf="currentIndex < (detail.length-1)">Next</button>
                                </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>


