<div class="body_section mt-4 mb-5">
  <div class="container">
      <app-stages-header></app-stages-header>

      <div class="data_content_sec mb-5">
          <div class="row">
              <div class="col-lg-3 col-md-4">
                <div class="stage_budget_col_left p-3">
                  <div class="mb-4 pb-1">
                      <div class="stage_budget_title pb-3 mb-4">Stage 1 : Workforce</div>
                      <ul class="stage_budget_steps" *ngIf="!pause">
                          <li class="mb-2"> <a class="d-flex align-items-center p-3 w-100" *ngIf="gameStage == '1'" routerLink="/stages/choose-workforce"><img src="/assets/img/stage_budget_steps_icon02.png" alt="stage_budget_steps_icon" />Choose Workforce</a></li>

                          <li class="mb-2"> <a class="d-flex align-items-center p-3 w-100" *ngIf="gameStage == '2'" routerLink="/stages/placements"><img src="/assets/img/stage_budget_steps_icon02.png" alt="stage_budget_steps_icon" />Placement</a></li>
                          <li class="mb-2 active"><a class="d-flex align-items-center p-3 w-100" routerLink="/stages/research-center/{{gameStage}}"><img src="/assets/img/steps_research_center_ic.png" alt="stage_budget_steps_icon" />Research Center</a></li>
                      </ul>
                      <ul class="stage_budget_steps" *ngIf="pause">
                         
                          <li class="mb-2"> <a class="d-flex align-items-center p-3 w-100" *ngIf="gameStage == '1'" disabled><img src="/assets/img/stage_budget_steps_icon02.png" alt="stage_budget_steps_icon" />Choose Workforce</a></li>

                          <li class="mb-2"> <a class="d-flex align-items-center p-3 w-100" *ngIf="gameStage == '2'" ><img src="/assets/img/stage_budget_steps_icon02.png" alt="stage_budget_steps_icon" />Placement</a></li>
                          <li class="mb-2 active"><a class="d-flex align-items-center p-3 w-100" disabled><img src="/assets/img/steps_research_center_ic.png" alt="stage_budget_steps_icon" />Research Center</a></li>
                      </ul>
                  </div>
                  <div class="mb-4 pb-1">
                      <div class="stage_budget_title pb-3 mb-4">Sponsored by</div>
                      <ul class="stage_sponsoredby">
                          <li class="d-flex p-4">
                              <div class="stage_sponsoredby_img mr-3 d-flex align-items-center justify-content-center p-1">
                                <img *ngIf="sponser" src="{{env.serverUrl+env.uploadsSponser+sponser?.logo}}" alt="{{sponser?.name}}">
                                <img *ngIf="!sponser" src="{{env.serverUrl+env.uploadsSponser+'nologo.png'}}" alt="Sponser">
                              </div>
                              <div class="stage_sponsoredby_name mt-1">{{sponser?.name}}</div>
                          </li>
                      </ul>
                  </div>
                  <div class="mb-4 pb-1">
                      <div class="stage_budget_title pb-3 mb-4">Scoring </div>
                      <div class="stage_scoring p-3">
                          <p class="stage_scoring_highlight">You will earn ${{saveAmount}} on Saving per minute </p>
                          <p class="stage_scoring_text mb-0"><strong>For example:</strong></p>
                          <p class="stage_scoring_text">On saving 10 minutes, your total earning will be </p>
                          <p class="stage_scoring_text">${{saveAmount}} x 10  <strong>= ${{saveAmount*10}}</strong></p>
                      </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-9 col-md-8">
                  <div class="stage_budget_col_right pr-md-4 pl-md-0 px-3 py-4">
                      <div class="stage_status d-flex align-items-center mb-4 mt-2">
                          <div class="stage_title flex-fill">Stage {{content.stage}}</div>
                          <div class="stage_btn ml-auto">
                            <button *ngIf="!pause" (click)="storeTeamStageStatus()" class="btn btn_green"><img class="mr-3" src="/assets/img/play_btn_icon.png" alt="play_btn_icon" />Pause</button>

                            <button *ngIf="pause" (click)="resumeStage()" class="btn btn_green"><img class="mr-3" src="/assets/img/play_btn_icon.png" alt="play_btn_icon" />Play</button>
                          </div>
                      </div>
                      <div class="stage_detail_block">
                          <div class="stage_detail_header d-lg-flex d-block align-items-center py-lg-1 py-3 px-3">
                              <div class="stage_detail_header_title text-center text-lg-left mb-3 mb-lg-0">Research Center</div>
                              <div class="d-flex align-items-center ml-auto justify-content-lg-start justify-content-center">
                                  <div class="timer text-right mr-4"><small class="d-block text-white">Sponsored by</small><img src="/assets/img/walter_p_moore_logo.png" alt="walter_p_moore_logo"></div>
                                  <ul class="timer_clock d-flex align-items-center justify-content-md-end">
                                      <li class="text-center">
                                          <div class="timer_bg position-relative">
                                              <span class="timer_number position-absolute">
                                                <countdown #cd [config]="{ leftTime: remainingTime, format: 'mm:ss' }"></countdown>
                                              </span>
                                          </div>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                          <div class="stage_detail_content_block px-4 px-sm-5 py-5">
                            <div class="research_content" [innerHTML]="content.content"></div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
