<div class="body_section mt-4 mb-5">
    <div class="container">
        <app-stages-header></app-stages-header>
        
        <div class="data_content_sec mb-5">
            <div class="row">
                <div class="col-lg-3 col-md-4">
                    <div class="stage_budget_col_left p-3">
                        <div class="">
                            <div class="stage_budget_title pb-3 mb-4">Scoring </div>
                            <div class="stage_scoring p-3">
                                <p class="stage_scoring_highlight_blue">Earning by Saving Time </p>
                                <p class="stage_scoring_highlight">You will earn ${{saveAmount}} on Saving per minute </p>
                                <p class="stage_scoring_text mb-0"><strong>For example:</strong></p>
                                <p class="stage_scoring_text">On saving 10 minutes, your total earning will be </p>
                                <p class="stage_scoring_text">${{saveAmount}} x 10  <strong>= ${{saveAmount*10}}</strong></p>

                                <p class="stage_scoring_highlight_blue">Earning by issue handling </p>
                                <p class="stage_scoring_highlight">You will earn the following on every issue handling</p>
                                <div>
                                    <p class="stage_scoring_text mb-0"><strong>Good   $100,000</strong></p>
                                    <p class="stage_scoring_text mb-0"><strong>Better $200,000</strong></p>
                                    <p class="stage_scoring_text mb-0"><strong>Best    $300,000</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-8">
                    <div class="stage_budget_col_right pr-md-4 pl-md-0 px-3 py-4">
                        <div class="stage_status d-flex align-items-center mb-4 mt-2">
                            <div class="stage_title flex-fill">Stage {{gameStage}}</div>
                            <div class="stage_btn ml-auto">
                                <button *ngIf="!pause" (click)="storeTeamStageStatus()" class="btn btn_green"><img class="mr-3" src="/assets/img/play_btn_icon.png" alt="play_btn_icon" />Pause</button>

                                <button *ngIf="pause" (click)="resumeStage()" class="btn btn_green"><img class="mr-3" src="/assets/img/play_btn_icon.png" alt="play_btn_icon" />Play</button>
                            </div>
                        </div>
                        <div class="stage_detail_block">
                            <div class="stage_detail_header d-lg-flex d-block align-items-center py-lg-1 py-3 px-3">
                                <div class="stage_detail_header_title text-center text-lg-left mb-3 mb-lg-0">Play/Pause</div>
                                <div class="d-flex align-items-center ml-auto justify-content-lg-start justify-content-center">
                                    <div class="timer text-right mr-4"><small class="d-block text-white">Sponsored by</small><img src="/assets/img/walter_p_moore_logo.png" alt="walter_p_moore_logo"></div>
                                    <ul class="timer_clock d-flex align-items-center justify-content-md-end">
                                        <li class="text-center">
                                            <div class="timer_bg position-relative">
                                                <span class="timer_number position-absolute">
                                                <countdown #cd [config]="{ leftTime: remainingTime, format: 'mm:ss' }"></countdown></span>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="stage_detail_content_block research_content_second px-4 px-sm-5 py-5">
                                <div class="row my-n4">
                                    <div class="col-12 col-md-6 py-4">
                                        <div class="messenger_desc_block">
                                            <div class="pl-0 pl-sm-3">
                                                <h4 class="knowledge_content_heading mb-3">Trivial</h4>
                                                <div class="knowledge_content_info p-0">
                                                    <div class="knowledge_content_info_inner p-3">This messenger presents the most trivial of issues.  Ignoring these issues results in a minimum of cost. This messenger may offer some suggestions or tips, which may be ignored with minimal or no cost.</div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="col-12 col-md-6 py-4">
                                        <div class="messenger_desc_block">
                                            <div class="pl-0 pl-sm-3">
                                                <h4 class="knowledge_content_heading mb-3">Important</h4>
                                                <div class="knowledge_content_info p-0">
                                                    <div class="knowledge_content_info_inner p-3">These are more important issues, and they do represent a cost if ignored. They should not be taken lightly. This messenger may suggest tips, which are sometimes helpful and can save money when followed.</div>
                                                </div>
                                            </div>
                                        </div>
                                        
                                    </div>
                                    <div class="col-12 col-md-6 py-4">
                                        <div class="messenger_desc_block">
                                            <div class="pl-0 pl-sm-3">
                                                <h4 class="knowledge_content_heading mb-3">Crucial</h4>
                                                <div class="knowledge_content_info p-0">
                                                    <div class="knowledge_content_info_inner p-3">This is a no-nonsense messenger who delivers the most important of issues, which cannot be ignored if one wants to save money.  His tips should be taken seriously.</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="messenger_desc_btn mt-3">
                                            <ng-container *ngIf="gameStage == '3' || gameStage == '4'">
                                                <a routerLink="/stages/stage-issue/{{gameStage}}"  class="btn">Start</a>
                                            </ng-container>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>