<div class="body_section mt-4 mb-5">
    <div class="container">
        <app-gameheader></app-gameheader>
        <div class="row">
            <div class="col-12 col-md-4 py-4">
                <div class="leaderboard_block">
                    <div class="leaderboard_title_btn_sec">
                        <div class="leaderboard_title text-center">Leaderboard</div>
                        <ul class="leaderboard_btns">

                        <ng-container *ngFor="let details of sortData;index as i;">
                            <li class="d-flex" style="background-color: #bf0c0c;">
                                <div class="text-left">{{details.team_name}}</div>
                                <div class="text-right">${{ConvertToInt(details.score) }}</div>
                            </li>
                        </ng-container>
                           
                        </ul>
                    </div>
                    <div class="sponsoredby_sec d-flex align-items-center justify-content-center">Sponsored by <strong class="ml-2">Cupertino Electric</strong> <img class="ml-3" src="img/sponsored_icon.png" alt="sponsored"></div>
                </div>
            </div>
            <div class="col-12 col-md-4 py-4">
                <div class="leaderboard_block">
                    <div class="leaderboard_title_btn_sec">
                        <div class="leaderboard_title text-center">Webcore #1 Team</div>
                        <div class="leaderboard_btns webcor_list_sec">
                            <div class="table-responsive">
                                <table class="table mb-0" celpadding="0" celspacing="0" border="0">
                                    <tr>
                                      <td><span class="member_img m-0"><img src="img/member_img01.png" alt=""></span></td>
                                      <td><p class="member_name">Shelley Doron</p></td>
                                      <td class="stage_leader active">Stage 2</td>
                                    </tr>
                                    <tr>
                                      <td><span class="member_img m-0"><img src="img/member_img01.png" alt=""></span></td>
                                      <td><p class="member_name">Shelley Doron</p></td>
                                      <td class="stage_leader active">Stage 2</td>
                                    </tr>
                                    <tr>
                                      <td><span class="member_img m-0"><img src="img/member_img01.png" alt=""></span></td>
                                      <td><p class="member_name">Shelley Doron</p></td>
                                      <td class="stage_leader active">Stage 2</td>
                                    </tr>
                                    <tr>
                                      <td><span class="member_img m-0"><img src="img/member_img01.png" alt=""></span></td>
                                      <td><p class="member_name">Shelley Doron</p></td>
                                      <td class="stage_leader active">Stage 2</td>
                                    </tr>
                                    <tr>
                                      <td><span class="member_img m-0"><img src="img/member_img01.png" alt=""></span></td>
                                      <td><p class="member_name">Shelley Doron</p></td>
                                      <td class="stage_leader active">Stage 2</td>
                                    </tr>
                                    <tr>
                                      <td><span class="member_img m-0"><img src="img/member_img01.png" alt=""></span></td>
                                      <td><p class="member_name">Shelley Doron</p></td>
                                      <td class="stage_leader active">Stage 2</td>
                                    </tr>
                                    <tr>
                                      <td><span class="member_img m-0"><img src="img/member_img01.png" alt=""></span></td>
                                      <td><p class="member_name">Shelley Doron</p></td>
                                      <td class="stage_leader active">Stage 2</td>
                                    </tr>
                                    <tr>
                                      <td><span class="member_img m-0"><img src="img/member_img01.png" alt=""></span></td>
                                      <td><p class="member_name">Shelley Doron</p></td>
                                      <td class="stage_leader active">Stage 2</td>
                                    </tr>
                                    <tr>
                                      <td><span class="member_img m-0"><img src="img/member_img01.png" alt=""></span></td>
                                      <td><p class="member_name">Shelley Doron</p></td>
                                      <td class="stage_leader active">Stage 2</td>
                                    </tr>
                                    <tr>
                                      <td><span class="member_img m-0"><img src="img/member_img01.png" alt=""></span></td>
                                      <td><p class="member_name">Shelley Doron</p></td>
                                      <td class="stage_leader active">Stage 2</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-4 py-4">
                <div class="leaderboard_block">
                    <div class="leaderboard_title_btn_sec">
                        <div class="leaderboard_title text-center">Overall Game Result</div>
                        <div class="leaderboard_btns webcor_list_sec p-0">
                            <div class="table-responsive">
                                <table class="table mb-0" celpadding="0" celspacing="0" border="0">
                                    <tr>
                                        <th class="border-0" scope="col">Stages</th>
                                        <th class="border-0" scope="col">Earming</th>
                                      </tr>
                                    <tr>
                                      <td><p class="member_name">Stage 1</p></td>
                                      <td>$xxxxxx</td>
                                    </tr>
                                    <tr>
                                      <td><p class="member_name">Stage 1</p></td>
                                      <td>$xxxxxx</td>
                                    </tr>
                                    <tr>
                                      <td><p class="member_name">Stage 1</p></td>
                                      <td>$xxxxxx</td>
                                    </tr>
                                    <tr>
                                      <td><p class="member_name">Stage 1</p></td>
                                      <td>$xxxxxx</td>
                                    </tr>
                                    <tr>
                                      <td><p class="member_name">Stage 1</p></td>
                                      <td>$xxxxxx</td>
                                    </tr>
                                    <tr>
                                      <td><p class="member_name">Stage 1</p></td>
                                      <td>$xxxxxx</td>
                                    </tr>
                                    <tr>
                                      <td><p class="member_name">Stage 1</p></td>
                                      <td>$xxxxxx</td>
                                    </tr>
                                    <tr>
                                      <td><p class="member_name">Stage 1</p></td>
                                      <td>$xxxxxx</td>
                                    </tr>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>