<div class="body_section mt-4 mb-5">
        <div class="container">
            <app-stages-header></app-stages-header>
            
            <div class="data_content_sec mb-5">
                <div class="row">
                    <div class="col-12 p-5">
                        <div class="finished_section text-center">
                            <div class="finish_title mb-3">Congratulations!</div>
                            <div class="finish_postion mb-4">You have completed Stage 1</div>
                            <div class="finish_img mx-auto mb-4">
                                <img src="/assets/img/finish_img01.png" alt="finish_img" />
                            </div>
                            <p class="stage_finish_para_blue mb-4">You have saved</p>
                            <div class="stage_save_outer_box position-relative mx-auto mb-4 pb-2">
                                <div class="stage_save_status_outer">
                                    <div class="stage_save_status w-100 d-flex mx-auto">
                                        <div class="save_status_left"><div class="d-flex align-items-center justify-content-center flex-column h-100"><h3>Minutes<span class="d-block">{{savedMinute}}</span></h3></div></div>
                                        <div class="save_status_right"><div class="d-flex align-items-center justify-content-center flex-column h-100"><h3>Earned<span class="d-block">${{ gameDetail.saving_amount * savedMinute}}</span></h3></div></div>
                                    </div> 
                                </div>
                                <div class="stage_status_text">
                                    <span>${{gameDetail.saving_amount}}</span> x <span>{{savedMinute}}</span> minutes saved
                                </div>
                            </div>
                            <div class="play_stage_btn">
                                <a routerLink="/stages/leaderboard/1" class="btn btn_green">Leaderboard Stage 1</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>