<div class="body_section mt-4 mb-5">
    <div class="container">
        <app-gameheader></app-gameheader>
        <div class="data_content_sec mb-5">
            <div class="row">
                <div class="col-lg-3 col-md-4">
                    <div class="stage_budget_col_left p-3">
                        <div class="mb-4 pb-1">
                            <div class="stage_budget_title pb-3 mb-4">Navigation    </div>
                            <ul class="stage_budget_steps team_page_steps">
                                <li class="mb-2"><a class="d-flex align-items-center p-3 w-100" routerLink="/stages"><img src="/assets/img/team_icon.png" alt="stage_budget_steps_icon" />Team Page</a></li>
                                <li class="mb-2 active"><a class="d-flex align-items-center p-3 w-100" routerLink="/team-chat"><img src="/assets/img/team_chat_icon.png" alt="stage_budget_steps_icon" />Team Chat</a></li>
                            </ul>
                        </div>
                        <div class="mb-4 pb-1">
                            <div class="stage_budget_title pb-3 mb-4">Sponsored by</div>
                            <ul class="stage_sponsoredby">
                                <li class="d-flex p-4">
                                    <div class="stage_sponsoredby_img mr-3 d-flex align-items-center justify-content-center p-1"><img src="/assets/img/pacific_structers_logo.png" alt="pacific_structers_logo" /></div>
                                    <div class="stage_sponsoredby_name mt-1">Pacific Structures</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-8">
                    <div class="stage_budget_col_right pr-md-4 pl-md-0 px-3 py-4">
                        <div class="stage_detail_header d-flex d-block align-items-center px-4 py-3">
                            <div class="team_chat_header_title text-center text-lg-left">Team Chat</div>
                        </div>
                        
                        <div class="chat_content">
                          <div class="chat_content_inner mb-3"> 
                            <div #scrollMe class="chats_section p-4"> 
                                <div *ngFor="let detail of this.messageArray;let i = index" >
                                    <div class="chats_panel d-flex align-items-end mb-4" *ngIf="detail.sender != this.user_id">
                                        <div class="chat_user_image mr-4 mb-4"><img src="/assets/img/user_avatar2.png" alt="member_img01" /></div>
                                        <div class="chat_user_msg">
                                            <div class="chat_user_msg_box px-4 py-3">
                                                <div class="chat_user_name mb-2">{{detail.user_name}}</div>
                                                <div class="chat_user_content">{{detail.message}}</div>
                                            </div>
                                            <div class="user_chat_time px-4 mt-2">{{detail.createdAt | dateAgo}}</div>
                                        </div>
                                    </div>
                                    <div class="chats_panel right text-right d-flex align-items-end justify-content-end mb-4" *ngIf="detail.sender == this.user_id ">
                                        <div class="chat_user_image mr-4 mb-4"><img src="/assets/img/user_avatar.png" alt="member_img01" /></div>
                                        <div class="chat_user_msg">
                                            <div class="chat_user_msg_box px-4 py-3">
                                                <div class="chat_user_name mb-2">{{detail.user_name}}</div>
                                                <div class="chat_user_content">{{detail.message}}</div>
                                            </div>
                                            <div class="user_chat_time px-4 mt-2">{{detail.createdAt | dateAgo}}</div>
                                        </div>
                                    </div>

                                </div>
                                <span><i *ngIf="this.isTyping" class="isTyping">typing...</i></span>
                            </div>
                          </div>
                          
                          <div class="chat_user_input">
                            <!-- <form> -->
                                <div class="d-flex">
                                    <input class="w-100 p-3" [(ngModel)]="newMessage" (keyup)="$event.keyCode == 13 && sendMessage()" placeholder="Type your message here..." required/>
                                    <button (click)="sendMessage()" class="btn">Send Message</button>
                                </div>
                            <!-- </form> -->
                          </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
