<div class="body_section mt-4 mb-5">
    <div class="container">
        <app-stages-header></app-stages-header>
        <div class="data_content_sec mb-5">
            <div class="row">
                <div class="col-lg-3 col-md-4">
                    <div class="stage_budget_col_left p-3">
                        <div class="mb-4 pb-1">
                            <div class="stage_budget_title pb-3 mb-4">Stage 2 : Placements</div>
                            
                            <ul class="stage_budget_steps" *ngIf="!pause">
                                <li class="mb-2 active"><a class="d-flex align-items-center p-3 w-100" routerLink="/stages/placements"><img src="/assets/img/steps_placements_ic.png" alt="stage_budget_steps_icon" />Placements</a></li>
                                <li class="mb-2"><a class="d-flex align-items-center p-3 w-100" routerLink="/stages/research-center/{{gameStage}}"><img src="/assets/img/steps_research_center_ic.png" alt="stage_budget_steps_icon" />Research Center</a></li>
                            </ul>

                            <ul class="stage_budget_steps" *ngIf="pause">
                                <li class="mb-2 active"><a class="d-flex align-items-center p-3 w-100" disabled><img src="/assets/img/steps_placements_ic.png" alt="stage_budget_steps_icon" />Placements</a></li>
                                <li class="mb-2"><a class="d-flex align-items-center p-3 w-100" disabled><img src="/assets/img/steps_research_center_ic.png" alt="stage_budget_steps_icon" />Research Center</a></li>
                            </ul>

                        </div>
                        <div class="mb-4 pb-1">
                            <div class="stage_budget_title pb-3 mb-4">Sponsored by</div>
                            <ul class="stage_sponsoredby">
                                <li class="d-flex p-4">
                                    <div class="stage_sponsoredby_img mr-3 d-flex align-items-center justify-content-center p-1">
                                        <img *ngIf="sponser" src="{{env.serverUrl+env.uploadsSponser+sponser?.logo}}" alt="{{sponser?.name}}">
                                        <img *ngIf="!sponser" src="{{env.serverUrl+env.uploadsSponser+'nologo.png'}}" alt="Sponser">
                                    </div>
                                    <div class="stage_sponsoredby_name mt-1">{{sponser?.name}}</div>
                                </li>
                            </ul>
                        </div>
                        <div class="">
                            <div class="stage_budget_title pb-3 mb-4">Scoring </div>
                            <div class="stage_scoring p-3">
                                <p class="stage_scoring_highlight_blue">Earning by Saving Time </p>
                                <p class="stage_scoring_highlight">You will earn ${{saveAmount}} on Saving per minute </p>
                                <p class="stage_scoring_text mb-0"><strong>For example:</strong></p>
                                <p class="stage_scoring_text">On saving 10 minutes, your total earning will be </p>
                                <p class="stage_scoring_text">${{saveAmount}} x 10  <strong>= ${{saveAmount * 10}}</strong></p>

                                <p class="stage_scoring_highlight_blue">Earning by Placements </p>
                                <p class="stage_scoring_highlight">You will earn the following on every placements</p>
                                <div>
                                    <p class="stage_scoring_text mb-0"><strong>Good   $100,000</strong></p>
                                    <p class="stage_scoring_text mb-0"><strong>Better $200,000</strong></p>
                                    <p class="stage_scoring_text mb-0"><strong>Best    $300,000</strong></p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-8">
                    <div class="stage_budget_col_right pr-md-4 pl-md-0 px-3 py-4">
                        <div class="stage_status d-flex align-items-center mb-4 mt-2">
                            <div class="stage_title flex-fill">Stage 2</div>
                            <div class="stage_btn ml-auto"> 
                                <button *ngIf="!pause" (click)="storeTeamStageStatus()" class="btn btn_green"><img class="mr-3" src="/assets/img/play_btn_icon.png" alt="play_btn_icon" />Pause</button>

                                <button *ngIf="pause" (click)="resumeStage()" class="btn btn_green"><img class="mr-3" src="/assets/img/play_btn_icon.png" alt="play_btn_icon" />Play</button>
                            </div>
                        </div>
                        <div class="stage_detail_block">
                            <div class="stage_detail_header d-lg-flex d-block align-items-center py-lg-1 py-3 px-3">
                                <div class="stage_detail_header_title text-center text-lg-left mb-3 mb-lg-0">Placements</div>
                                <div class="d-flex align-items-center ml-auto justify-content-lg-start justify-content-center">
                                    <div class="timer text-right mr-4"><small class="d-block text-white">Sponsored by</small><img src="/assets/img/walter_p_moore_logo.png" alt="walter_p_moore_logo"></div>
                                    <ul class="timer_clock d-flex align-items-center justify-content-md-end">
                                        <li class="text-center">
                                           <div class="timer_bg position-relative">
                                              <span class="timer_number position-absolute">
                                              <countdown #cd [config]="{ leftTime: remainingTime, format: 'mm:ss' }"></countdown></span>
                                          </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="stage_detail_content_block research_content_second px-4 px-sm-5 py-5">
                              <div>
                                <div class="placements_head mb-4">Work Area</div>
                                <div class="d-lg-flex d-block">
                                    <div class="work_area_image position-relative mb-5">
                                        <img src="/assets/img/transamerica pyramid.png" alt="work_area_canvas_img" />
                                        <ng-container *ngIf="details">
                                            <div class="work_area_image_icon_sec" *ngFor="let detail of details">
                                                <ng-container *ngIf="detail.category[0].slug=='material-stockpile'" >
                                                    <div class="count_yellow_a" *ngIf="detail.slug=='a'" [ngClass]="{placmentActiveStyle: isEventMat(detail._id)}">{{detail.choice}}</div>
                                                    <div class="count_yellow_b" *ngIf="detail.slug=='b'" [ngClass]="{placmentActiveStyle: isEventMat(detail._id)}">{{detail.choice}}</div>
                                                    <div class="count_yellow_c" *ngIf="detail.slug=='c'" [ngClass]="{placmentActiveStyle: isEventMat(detail._id)}">{{detail.choice}}</div>
                                                </ng-container>
                                                <ng-container *ngIf="detail.category[0].slug=='command-trailer'" >
                                                    <div class="count_green_a " *ngIf="detail.slug=='a'" [ngClass]="{placmentActiveStyle: isEventCommand(detail._id)}">{{detail.choice}}</div>
                                                    <div class="count_green_b" *ngIf="detail.slug=='b'" [ngClass]="{placmentActiveStyle: isEventCommand(detail._id)}">{{detail.choice}}</div>
                                                    <div class="count_green_c" *ngIf="detail.slug=='c'" [ngClass]="{placmentActiveStyle: isEventCommand(detail._id)}">{{detail.choice}}</div>
                                                </ng-container>
                                                <ng-container *ngIf="detail.category[0].slug=='crane'" >
                                                    <div class="count_sky_a" *ngIf="detail.slug=='a'" [ngClass]="{placmentActiveStyle: isActive(detail._id)}">{{detail.choice}}</div>
                                                    <div class="count_sky_b" *ngIf="detail.slug=='b'" [ngClass]="{placmentActiveStyle: isActive(detail._id)}">{{detail.choice}}</div>
                                                    <div class="count_sky_c" *ngIf="detail.slug=='c'" [ngClass]="{placmentActiveStyle: isActive(detail._id)}">{{detail.choice}}</div>
                                                </ng-container>
                                                <ng-container *ngIf="detail.category[0].slug=='ingress-egress'" >
                                                    <div class="count_red_a" *ngIf="detail.slug=='a'" [ngClass]="{placmentActiveStyle: isEventIngress(detail._id)}">{{detail.choice}}</div>
                                                    <div class="count_red_b" *ngIf="detail.slug=='b'" [ngClass]="{placmentActiveStyle: isEventIngress(detail._id)}">{{detail.choice}}</div>>
                                                    <div class="count_red_c" *ngIf="detail.slug=='c'" [ngClass]="{placmentActiveStyle: isEventIngress(detail._id)}">{{detail.choice}}</div>
                                                </ng-container>
                                            </div>
                                        </ng-container>
                                    </div>
                                    <div class="work_area_detail mb-5">
                                        <div class="work_area_head p-2 text-center">Legends</div>
                                        <div class="work_area_list d-flex flex-column">
                                            <ng-container *ngFor="let category of categoryList">
                                                <div class="work_area_item blue" *ngIf="category.slug == 'crane'">
                                                    <div class="work_area_panel text-center d-flex flex-column justify-content-center align-items-center p-2">
                                                        <img class="mx-auto" src="/assets/img/crane_icon.png" alt="crane_icon" />
                                                        <span class="d-block">Crane</span>
                                                    </div>
                                                    <ul class="d-flex align-items-center justify-content-center p-2">
                                                        <ng-container *ngFor="let placementCat of category.placements;let i = index;">
                                                        <li class="mr-3">
                                                            <div class="work_area_option d-flex align-items-center justify-content-center" (click)="select(placementCat._id)" [ngClass]="{active: isActive(placementCat._id)}">{{placementCat.choice}}</div>
                                                        </li>
                                                        </ng-container>
                                                    </ul>
                                                </div>

                                            <div class="work_area_item yellow" *ngIf="category.slug == 'material-stockpile'">
                                                <div class="work_area_panel text-center d-flex flex-column justify-content-center align-items-center p-2">
                                                    <img class="mx-auto" src="/assets/img/stockpile_icon.png" alt="stockpile_icon" />
                                                    <span class="d-block">Material Stockpile</span>
                                                </div>
                                                <ul class="d-flex align-items-center justify-content-center p-2">
                                                    <ng-container *ngFor="let placementCat of category.placements">
                                                        <li class="mr-3"><div class="work_area_option d-flex align-items-center justify-content-center" (click)="clickEventMat(placementCat._id)" [ngClass]="{active: isEventMat(placementCat._id)}">{{placementCat.choice}}</div></li>
                                                    </ng-container>
                                                </ul>
                                            </div>
                                            <div class="work_area_item green" *ngIf="category.slug == 'command-trailer'">
                                                <div class="work_area_panel text-center d-flex flex-column justify-content-center align-items-center p-2">
                                                    <img class="mx-auto" src="/assets/img/trailer_icon.png" alt="trailer_icon" />
                                                    <span class="d-block">Command Trailer</span>
                                                </div>
                                                <ul class="d-flex align-items-center justify-content-center p-2">
                                                    <ng-container *ngFor="let placementCat of category.placements">
                                                        <li class="mr-3"><div class="work_area_option d-flex align-items-center justify-content-center" (click)="clickEventCommand(placementCat._id)" [ngClass]="{active: isEventCommand(placementCat._id)}">{{placementCat.choice}}</div></li>
                                                    </ng-container>
                                                </ul>
                                            </div> 
                                            <div class="work_area_item red" *ngIf="category.slug == 'ingress-egress'">
                                                <div class="work_area_panel text-center d-flex flex-column justify-content-center align-items-center p-2">
                                                    <img class="mx-auto" src="/assets/img/ingress_icon.png" alt="ingress_icon" />
                                                    <span class="d-block">Ingress/Egress</span>
                                                </div> 
                                                <ul class="d-flex align-items-center justify-content-center p-2">
                                                    <ng-container *ngFor="let placementCat of category.placements">
                                                        <li class="mr-3"><div class="work_area_option d-flex align-items-center justify-content-center"  (click)="clickEventIngress(placementCat._id)" [ngClass]="{active: isEventIngress(placementCat._id)}">{{placementCat.choice}}</div></li>
                                                    </ng-container>
                                                </ul>
                                            </div>
                                            </ng-container>
                                        </div>
                                    </div>
                                </div>

                                <div class="work_area_btn d-flex flex-column">
                                    <button type="button" class="d-block btn btn_orange mb-4 mx-auto" (click)="submitResult();">Submit</button>
                                    <a href="javascript:void(0)" class="d-block btn btn_green mx-auto">Play Stage 4</a>
                                </div>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  