html { font-family: 'Raleway', sans-serif; font-size: 14px;}
body { font-family: 'Raleway', sans-serif; font-size: 1.28rem; color: #919191; line-height: normal; position: relative; background-image: url(../img/background.jpg); background-repeat: no-repeat; background-position: top center; background-attachment: fixed; background-size: cover;}
img { max-width: 100%; display: inline-block;}
button, input, textarea, select { font-family: 'Raleway', sans-serif; opacity: 1; letter-spacing: 0.0143rem;}
button:focus, input:focus, textarea:focus, select:focus{ outline: none;}
ul, li { padding: 0px; margin: 0px; list-style: none;}
a { display: inline-block; -webkit-transition: all 0.5s ease-out; transition: all 0.5s ease-out; color: #f15b29;}
a:hover, a:focus { outline: inherit; text-decoration: none;}
a:hover { color: #32a4d5;}
h1, h2, h3, h4, h5, h6 { font-family: 'Raleway', sans-serif; padding: 0px 0px; margin: 0px 0px;}
p{
	line-height: 1.57rem;
}

/*.full_container{ max-width: 2000px; width: 100%; overflow: hidden; position: relative; margin: 0rem auto;}*/

input::-webkit-input-placeholder{ color:#2d043b; opacity:1;}
input::-moz-placeholder{ color:#2d043b; opacity:1;}
input:-ms-input-placeholder{ color:#2d043b; opacity:1;}
input::-ms-input-placeholder{ color:#2d043b; opacity:1;}
input::-webkit-input-placeholder{ color:#2d043b; opacity:1;}
input:-ms-input-placeholder{ color:#2d043b; opacity:1;}
input::placeholder{ color:#2d043b; opacity:1;}

@font-face {
    font-family: 'subpearregular';
    src: url('../font/subpear-webfont.woff2') format('woff2'),
         url('../font/subpear-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.logo{ display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center;}
.navbar-expand-md{ -ms-flex-flow: wrap; flex-flow: wrap;}
.navbar-expand-md > .container{ -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; -webkit-box-pack: start; -ms-flex-pack: start; justify-content: flex-start; -ms-flex-wrap: wrap; flex-wrap: wrap;}
.navigation .navbar{ -webkit-box-align: stretch; -ms-flex-align: stretch; align-items: stretch; padding: 1.2rem 1.07rem;}
.logo img { max-width: 20rem; display: inline-block; -webkit-transition: all 0.5s ease-out; transition: all 0.5s ease-out;}
.navigation.fixed .logo img { max-width: 20.14rem;}

.navigation { background-color: transparent; position: relative; /*border-bottom: 3px solid #f29401; -webkit-box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1); box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.1);*/ z-index: 100;}
.navigation.fixed-top { width: 100%; position: absolute; top: 0%; background-color: #ffffff; /*-webkit-animation:slide-down 0.7s; animation:slide-down 0.7s;*/ -webkit-box-shadow: 0px 0px 1.07rem rgba(0, 0, 0, 0.4); box-shadow: 0px 0px 1.07rem rgba(0, 0, 0, 0.4); z-index: 999;}
@keyframes slide-down{
    0%{ opacity: 0; -webkit-transform: translateY(-100%); transform: translateY(-100%);}
    100%{ opacity: 1; -webkit-transform: translateY(0); transform: translateY(0);} 
}

.navigation .navbar-toggler { width: 3.2rem; height: 2.65rem; border-color: #ffffff; padding: 0px 0px; /*margin: 1.07rem 0rem 0rem;*/}
.navigation .navbar-toggler-icon { width: 2rem; height: 2px; display: block; background-color: #ffffff; margin: .4rem auto;}
.navigation .navbar-toggler:focus { outline: none; outline-offset: 0px;}
.navigation .navbar-toggler:hover { background-color: #4caec3;}
.navigation .navbar-toggler:hover .navbar-toggler-icon { background-color: #ffffff;}

.navigation .navbar-nav li { 
    position: relative; 
    padding: 0rem .5rem;
}
.navigation .navbar-nav li a{ 
    position: relative; 
    font-size: 1.14rem; 
    color: #252525; 
    font-weight: 700; 
    display: -moz-flex; 
    display: -ms-flex; 
    display: -o-flex; 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex; 
    -webkit-box-align: center; 
    -ms-flex-align: center; 
    align-items: center; 
    -webkit-box-pack: center; 
    -ms-flex-pack: center; 
    justify-content: center; 
    padding: .9rem .8rem;
}
.navigation .navbar-nav li.active a,
.navigation .navbar-nav li a:hover { 
    color: #ccff00;
}
.navigation .header_btns li a{ 
    background-color: #4caec3; 
    border: 1px solid #32a4d5; 
    border-radius: .35rem;
    color: #ffffff;
    padding-left: 2rem; padding-right: 2rem;
}
.navigation .header_btns li.active a,
.navigation .header_btns li a:hover{ 
    color: #ccff00;
}

.page_title,
.page_innertitle{ 
    font-size: 3.14rem; 
    font-weight: 700; 
    color: #0e7ab0;
}
.page_title small,
.page_innertitle small{ 
    display: block; 
    font-size: 63.63%; 
    color: #323232; 
    font-weight: 700;
}
.leader_board_video video{ 
    width: 100%; 
    height: auto; 
    border: 0px; 
    -webkit-box-shadow: 0rem 0rem 1.43rem rgba(0,0,0,0.2); 
    box-shadow: 0rem 0rem 1.43rem rgba(0,0,0,0.2);
}
.btn{
    border-radius: .28rem;
    background-color: rgb(241, 91, 41);
    font-size: 1.43rem;
    font-weight: 500;
    color: #ffffff;
    position: relative; overflow: hidden; -webkit-transition: all 0.5s ease-out; transition: all 0.5s ease-out;
    padding: .7rem 1.3rem;
}
.btn i{
    font-size: 1.57rem;
     -webkit-animation: floating-arrow 1.6s infinite ease-in-out 0s; animation: floating-arrow 1.6s infinite ease-in-out 0s;
}

.btn::before,
.btn::after{ width: 100%; height: 100%; border-radius: 5rem; background-color: rgba(0,0,0,0.8); position: absolute; top: 0; left: -110%; opacity: 0.1; -webkit-transition: all 0.5s ease-out; transition: all 0.5s ease-out; content: "";}


.btn:hover{ background-color: #32a4d5; color: #ffffff;}
.btn:hover::before{ left: -10%; -webkit-transition: all 0.3s ease-out; transition: all 0.3s ease-out;}
.btn:hover::after{ left: -30%;}

@-webkit-keyframes floating-arrow{
    0%{
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    50%{
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
    100%{
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes floating-arrow{
    0%{
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    50%{
        -webkit-transform: translateX(10px);
        transform: translateX(10px);
    }
    100%{
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

.btn_green {
    background-color: #339900;
}
.btn_blue {
    background-color: #0e7ab0;
}




.leaderboard_title_btn_sec{
    border-radius: .57rem;
    background-image: -moz-linear-gradient( 90deg, rgb(2,94,133) 0%, rgb(0,51,102) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(2,94,133) 0%, rgb(0,51,102) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(2,94,133) 0%, rgb(0,51,102) 100%);
    -webkit-box-shadow: 2.5px 4.33px 1.43rem rgba(0, 0, 0, 0.4), inset 2.5px 4.33px 1.07rem 0px rgba(255, 255, 255, 0.75);
    box-shadow: 2.5px 4.33px 1.43rem rgba(0, 0, 0, 0.4), inset 2.5px 4.33px 1.07rem 0px rgba(255, 255, 255, 0.75);
    border: 1px solid #000509;
    margin-bottom: -.5rem;
    position: relative;
    padding: .28rem;
    z-index: 2;
}
.leaderboard_title{
    font-size: 1.57rem;
    color: rgb(255, 255, 255);
    font-weight: 700;
    line-height: 1.2;
    /*text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);*/
    background-image: -ms-linear-gradient(top, rgba(255,241,163,1) 0%, rgba(247,178,60,1) 100%);
    background-image: -moz-linear-gradient(top, rgba(255,241,163,1) 0%, rgba(247,178,60,1) 100%);
    background-image: -o-linear-gradient(top, rgba(255,241,163,1) 0%, rgba(247,178,60,1) 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, rgba(255,241,163,1)), color-stop(100, rgba(247,178,60,1)));
    background-image: -webkit-linear-gradient(top, rgba(255,241,163,1) 0%, rgba(247,178,60,1) 100%);
    background-image: linear-gradient(to bottom, rgba(255,241,163,1) 0%, rgba(247,178,60,1) 100%);
    background-color: #00315f;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: .8rem 1.07rem;
}
.leaderboard_btns{
    max-height: 28rem;
    overflow: auto;
    border-radius: .57rem;
    background-image: -moz-linear-gradient( 90deg, rgb(83,91,94) 0%, rgb(254,254,254) 25%, rgb(74,81,84) 50%, rgb(253,253,253) 75%, rgb(83,91,94) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(83,91,94) 0%, rgb(254,254,254) 25%, rgb(74,81,84) 50%, rgb(253,253,253) 75%, rgb(83,91,94) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(83,91,94) 0%, rgb(254,254,254) 25%, rgb(74,81,84) 50%, rgb(253,253,253) 75%, rgb(83,91,94) 100%);
    box-shadow: 2.5px 4.33px 10px 0px rgba(0, 0, 0, 0.5),inset 2.5px 4.33px 10px 0px rgba(255, 255, 255, 0.75);
    padding: .5rem .8rem;
}
.leaderboard_btns li{
    width: 100%;
    float: left;
    border-radius: 1.43rem;
    -webkit-box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4);
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4);
    white-space: nowrap;
    margin: .08rem 0rem;
}
.leaderboard_btns li > div{
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    font-size: 1.14rem;
    font-weight: 600;
    color: #000;
    padding: 1.2rem 1.5rem;
}
.sponsoredby_sec{
  background-image: -moz-linear-gradient( 90deg, rgb(135,50,8) 0%, rgb(161,72,18) 100%);
  background-image: -webkit-linear-gradient( 90deg, rgb(135,50,8) 0%, rgb(161,72,18) 100%);
  background-image: -ms-linear-gradient( 90deg, rgb(135,50,8) 0%, rgb(161,72,18) 100%);
  box-shadow: inset 2.5px 4.33px 10px 0px rgba(255, 255, 255, 0.75);
    font-size: 1.07rem;
    color: #f5cdb8;
    border-radius: 0rem 0rem .57rem .57rem;
    padding: 1rem 1.07rem;
}
.sponsoredby_sec strong{
    color: #ffffff;
}

footer{
    width: 100%;
    background-color: #32a4d5;
    position: relative;
    bottom: 0rem;
}
.sponsored_by_title{
    font-size: 1.71rem;
    font-weight: 600;
    color: #ffffff;
}
.sponsored_logo{
    font-size: 1.21rem;
    font-weight: 600;
    color: #ffffff;
}
.sponsored_logo img{ max-width: 5rem;}
.footer_links li a{
    font-size: 1.14rem;
    color: #ffffff;
    padding: .8rem .3rem;
}
.footer_links li a:hover{
    color: #f15b29;
}
.copyright_sec{
    background-color: #252428;
    font-size: .92rem;
    color: #ffffff;
}


/* login */
.page_innertitle{ font-size: 2.14rem;}
.data_content_sec{ background-color: rgba(255,255,255,0.3); border-top: 1px solid #ffffff;}
.login_title{ font-size: 1.57rem; font-weight: 700; color: #323232;}
.form-group{ margin-bottom: 1.43rem;}
.form-control{ height: 3.21rem; border-radius: .25rem; border: 1px solid #d6d6d6; font-size: 1.14rem; color: #666666; padding: .6rem 1.107rem;}

.checkboxes_block{ font-size: 1.07rem; color: #666666;}
.checkboxes_block .checkbox{ /*display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex;*/ line-height: 1.5rem; position: relative;}
.checkbox label{ display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; font-weight: 400; margin: 0rem 0rem;}
.checkbox label input{ width: 100%; height: 100%; position: absolute; top: 0%; right: 0%; opacity: 0; z-index: 2;}
.checkbox .check{ width: 1.43rem; height: 1.43rem; position: relative; display: -webkit-inline-box; display: -ms-inline-flexbox; display: inline-flex; border: 2px solid rgb(200, 200, 200); border-radius: .25rem; /*background-color: rgb(255, 255, 255); -webkit-box-shadow: 0px 1px 4px 0px rgba(91, 91, 91, 0.35); box-shadow: 0px 1px 4px 0px rgba(91, 91, 91, 0.35);*/}
.checkbox label input:checked + .check{ background-color: #ffffff;}
.checkbox label input:checked + .check::before{ width:.43rem; height:.71rem; position:absolute; left:.4rem; top:.1rem;; border:solid #32a4d5; border-width:0px 2px 2px 0px; -webkit-transform:rotate(45deg); transform:rotate(45deg); content:"";}
.input_icon_view .form-control{ padding-right: 5rem;}

.checkboxes_block a{ color: #0077b5;}
.already_account{ color: #666666; font-size: 1.14rem;}
.checkboxes_block a:hover,
.already_account a{ color: #f15b29;}

.form_btn_view .btn{ min-width: 19.6rem;}
.or_divider span{ display: inline-block; font-size: 1.14rem; font-weight: 500; color: #3a3939; position: relative;}
.or_divider span::before,
.or_divider span::after{ width: 2.5rem; height: 1px; background-color: #acacac; position: absolute; top: 50%; left: -3.5rem; content: '';}
.or_divider span::after{ left: auto; right: -3.5rem;}

.linkedin_btn{ background-color: #0077b5;}
.linkedin_btn i{ -webkit-animation: auto; animation: auto;}

.signin_tab_sec .nav-tabs{ -ms-flex-wrap: nowrap; flex-wrap: nowrap; overflow: auto;}
.signin_tab_sec .nav-tabs,
.signin_tab_sec .nav-tabs .nav-link.active{ border-color: #32a4d5;}
.signin_tab_sec .nav-tabs::before,
.signin_tab_sec .nav-tabs::after{ width: 3rem; height: 1px; background-color: #32a4d5; position: absolute; left: 0em; bottom: 0rem; content: '';}
.signin_tab_sec .nav-tabs::after{ left: auto; right: 0rem;}
.signin_tab_sec .nav-tabs .nav-item{ -webkit-box-flex: 1; -ms-flex: 1; flex: 1; margin-bottom: 0px;}
.signin_tab_sec .nav-tabs .nav-link{ font-size: 1.14rem; font-weight: 700; color: #333333; border-bottom: 1px solid #32a4d5; white-space: nowrap; padding: 1.25rem 1.07rem;}
.signin_tab_sec .nav-tabs .nav-link:hover{ border-color: #32a4d5; border-bottom-color: transparent;}
.signin_tab_sec .nav-tabs .nav-link.active{ background-color: transparent; border-bottom: 0px;}

/* Custom Radio Button */
.custom_radio{ display:-webkit-inline-box; display:-ms-inline-flexbox; display:inline-flex; cursor:pointer; font-size: 1.21rem; color: #333333; line-height:1.85rem; position:relative; padding-left:2.5rem;}
.custom_radio input{ width:100%; height:100%; opacity: 0; position: absolute; top: 0; left: 0; cursor: pointer; margin: 0px 0px; z-index: 2;}
.custom_radio .radio_indicator{ height:1.85rem; width:1.85rem; border-radius: 50%; border:2px solid #898989; position:absolute; top:0px; left:0px;}
.custom_radio input:checked + .radio_indicator:before{ width:0.72rem; height:0.72rem; border-radius: 50%; background-color: #32a4d5; position:absolute; left:50%; top:50%; -webkit-transform: translate(-50%, -50%); transform: translate(-50%, -50%); content:"";}
/* Custom Radio Button */

.signin_form_btn_view .btn{ min-width: 12rem;}
.cancel_btn{ background-color: #959595;}




/*Ashish Css*/
.page_innerpage_title {
    font-size: 1.85rem; 
}
.page_innerpage_title small {
    font-size: 1rem;
}
.timer img {
    max-width: 10.71rem;
}
.timer small {
    font-size: 0.86rem;
    color: #333333;
    font-weight: 500;
}
.data_content_header {
    background-color: #32a4d5;
    font-size: 1.42rem;
    font-weight: 500;
    color: #ffffff;
    border-radius: 5px 5px 0 0;
}
.knowledge_content_heading {
    font-size: 1.21rem;
    font-weight: 700;
    color: #333333;
}
.knowledge_content_info {
    border: solid 1px #cccccc;
    background-color: rgba(255,255,255,0.7);
    height: 19.5rem;
    overflow-y: auto;
    font-size: 0.92rem;
    font-weight: 650;
    color: #666666;
    line-height: 1.35rem;
    padding-bottom: 1.42rem;
}
.knowledge_content_info_inner {
    height: 100%;
    overflow-y: auto;
}
.knowledge_content_info span {
    font-size: 1rem;
    font-weight: 700;
    color: #333333;
}
.knowledge_content_logo {
    width: 4.21rem;
    height: 3.57rem;
    background-color: #ffffff;
    border-radius: 0.35rem;
}
.knowledge_content_logo img {
    max-height: 100%;
}
.knowledge_content_logo_title p small {
    font-size: 0.85rem;
    font-weight: 500;
    color: #666666;
}
.knowledge_content_logo_title p {
    font-size: 1rem;
    font-weight: 600;
    color: #0e7ab0;
}
.timer_clock li {
    width: 3.35rem;
}
.timer_bg {
    background-image: url(../img/timer_bg01.png);
    background-position: center;
    background-repeat: no-repeat;
    min-height: 3.78rem;
    background-size: cover;
}
.timer_number {
    font-size: 1.85rem;
    font-weight: 400;
    color: #fad98f;
    top: 50%;
    transform: translate(-50%, -50%);
    left: 50%;
    font-family: 'subpearregular';
}
.timer_title {
    font-size: 0.64rem;
    font-weight: 600;
    color: #666666;
}
.young_tech_panel {
    background-color: rgba(255,255,255,0.7);
    border: solid 1px #cccccc;
    height: 18.28rem;
}
.young_tech_panel img {
    max-height: 100%;
}

/*Stage 1 Page Css*/
.stage_innertitle {
    font-size: 2.5rem;
    font-weight: 700;
    color: #0e7ab0;
    text-shadow: 0px 0px 5px #ffffff;
}
.welcome_title { position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    font-size: 1.14rem;
    font-weight: 500;
    color: #4d4d4d;
}
.welcome_title span {
    font-weight: 700;
    color: #0e7ab0;
}
.stage_number {
    font-size: 1.71rem;
    font-weight: 600;
    color: #339900;
}
.stage_number span {
    font-weight: 700;
    color: #0e7ab0;
}
.stage_panel {
    border: solid 1px #dedede;
    border-radius: 5px;
}
.stage_panel_header {
    font-size: 1.28rem;
    font-weight: 600;
    border-bottom: solid 1px #dedede;
}
.stage_panel_content {
    background-color: #ffffff;
    height: 24.2rem;
    overflow-y: auto;
    padding-bottom: 1.42rem;
}
.stage_panel_content_inner {
    height: 100%;
    overflow-y: auto;
}
.stage_panel_logo {
    width: 5.14rem;
    height: 3.57rem;
    background-color: #ffffff;
    border-radius: 0.35rem;
    border: solid 1px #f4f4f4;
}
.stage_panel_logo img {
    max-height: 100%;
}
.stage_panel_content p, .stage_panel_list li {
    font-size: 1rem;
    font-weight: 400;
    color: #666666;
}
.stage_panel_content p strong {
    font-size: 1.14rem;
    font-weight: 500;
    color: #4b4b4b;
}
.stage_panel_list {
    list-style: inherit;
    padding-left: 2.14rem;
}
.stage_panel_list li {
    list-style: inherit;
    list-style-position: outside;
    margin-bottom: 0.75rem;
}
.stage_btn_group .btn {
    min-width: 10.42rem;
    padding: 0.55rem 1.3rem;
}

.stage_budget_col_left {
    background-color: rgba(255,255,255,0.7);
    height: 100%;
}
.stage_budget_title {
    border-bottom: solid 1px #cccccc;
    padding-bottom: 10px;
    font-size: 0.85rem;
    font-weight: 400;
    color: #666666;
}
.stage_budget_steps li {
    border: solid 1px #ebebeb;
    background-color: #ffffff;
    border-radius: 2px;
}
.stage_budget_steps li a {
    font-size: 1rem;
    font-weight: 500;
    color: #666666;
}
.stage_budget_steps li a img {
    max-width: 1.74rem;
    margin-right: 0.71rem;
}
.stage_budget_steps li:hover , .stage_budget_steps li.active {
    background-color: #f15b29;
}
.stage_budget_steps li:hover img, .stage_budget_steps li.active img {
    filter: brightness(0) invert(1);
    -webkit-filter: brightness(0) invert(1);
}
.stage_budget_steps li:hover a, .stage_budget_steps li.active a{
    color: #ffffff;
}
.stage_sponsoredby {
    border: solid 1px #ebebeb;
    background-color: #ffffff;
}
.stage_sponsoredby_img {
    border: solid 1px #c5c8c9;
    border-radius: 2px;
    width: 3rem;
    height: 3rem;
}
.stage_sponsoredby_name {
    font-size: 1rem;
    font-weight: 600;
    color: #0e7ab0;
}
.budget_table {
    background-color: #ffffff;
    border: solid 1px #ebebeb;
}
.budget_table .table-bordered {
    border: solid 2px #ffffff;
    margin-bottom: 0;
}
.budget_table .table-bordered td, .budget_table .table-bordered th {
    border-color: #ebebeb;
    padding: .75rem 1.35rem;
}
.budget_table .table-bordered th {
    background-color: #f5f4f4;
    border-bottom: 0;
    font-size: 0.92rem;
    font-weight: 600;
    color: #333333;
    padding: 0.71rem 0.95rem;   
}
.budget_table .table-bordered th:nth-child(1) {
    border-right: 0;
}
.budget_table .table-bordered th:nth-child(2) {
    border-left: 0;
}
.budget_table .table-bordered td {
    font-size: 1rem;
    font-weight: 600;
    padding: 1rem 0.95rem;
}
.budget_blue {
    color: #006699;
}
.budget_green {
    color: #339933;
}
.stage_scoring {
    border: solid 1px #ebebeb;
    background-color: #ffffff;
}
.stage_scoring_highlight {
    color: #339933;
    font-size: 1rem;
    font-weight: 600;
}
.stage_scoring_highlight_blue {
	color: #1c8dbe;
	 font-size: 1rem;
    font-weight: 600;
}
.stage_scoring_text, .stage_col_left_lists li {
    color: #666666;
    font-size: 0.92rem;
    font-weight: 400;
}
.stage_col_left_lists li {
	margin-bottom: 0.71rem;
	position: relative;
	padding-left: 1.07rem;
}
.stage_col_left_lists li::before {
    content: '';
    position: absolute;
    left: 0;
    width: 5px;
    height: 5px;
    background-color: #888888;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}
.stage_scoring_text strong {
    font-weight: 600;
}
.stage_btn .btn {
    min-width: 7.71rem;
    min-height: 2.28rem;
    font-size: 1.07rem;
    padding: 0.3rem 1.1rem;
}
.stage_btn img {
    max-width: 0.94rem;
}
.stage_detail_header {
    background-color: #32a4d5;
    border-radius: 4px 4px 0 0;
}
.stage_detail_header_title {
    font-size: 1.42rem;
    font-weight: 600;
    color: #ffffff;
}
.stage_detail_content_block {
    background-color: #ffffff;
    border: solid 1px #e1e1e1;
    border-top: 0;
    border-radius: 0 0 4px 4px;
    min-height: 80.71rem;
}
.stage_detail_table {
    border: solid 1px #dbdbdb;
    border-top: 0;
    border-radius: 4px;
}
.stage_detail_table table thead  tr th {
    color: #3d3d3d;
    font-size: 1.07rem;
    font-weight: 500;
    background-color: #f5f4f4;
    border-bottom: 0;
    padding: 1.49rem 2rem;
}
.stage_detail_table table tbody tr td {
    font-size: 1.07rem;
    color: #666666;
    font-weight: 500;
    padding: 1.95rem 2rem;
}
.stage_detail_table table tbody tr:nth-child(1) td {
    border-top: 0;
}
.stage_detail_table table tbody .table_sub_head {
    color: #0c78a7;
    font-weight: 600;
}
.stage_detail_table table tbody tr td strong {
    font-size: 1.14rem;
    font-weight: 600;
    color: #333333;
}
.stage_detail_table table tbody .total_cost_row td {
    background-color: #f1fbed;
    font-size: 1.14rem;
    font-weight: 600;
    color: #383838; 
}
.stage_detail_table table tbody .total_budget_row td {
    background-color: #f4fafc;
}
.stage_detail_table table tbody .cost_row td:not(:first-child){
    font-size: 1.21rem;
    font-weight: 500;
    color: #333333;
}
.stage_detail_table table tbody .total_cost_row td:not(:first-child) {
    font-size: 1.28rem;
}
.stage_other_cost_text {
    font-size: 1.07rem;
    font-weight: 500;
    color: #666666;
    margin-bottom: 5px;
}
.other_costtext_link {
    color: #0c78a7;
}
.stage_other_cost_text span {
    color: #df2626;
    font-size: 1.47rem;
}
.cost_sponsoredby {
    font-size: 0.85rem;
    font-weight: 400;
    color: #666666;
    margin-bottom: 0.57rem;
}
.stage_title {
    color: #339900;
    font-size: 1.71rem;
    font-weight: 600;
    padding-right: 1.07rem;
}
.stage_detail_table table table tbody tr td {
    padding: 0.8rem 0 0.8rem;
    border: 0;
}
.stage_detail_table table table tbody tr:last-child td {
    padding-bottom: 0;
}
.option {
    padding-right: 1.42rem !important;
}
.option span {
    width: 1.92rem;
    height: 1.85rem;
    border: solid 2px #fa634e;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    font-size: 0.92rem;
    font-weight: 500;
    color: #666666;
    margin-right: 1.42rem;
}
.option.active span {
    background-color: #339900;
    border-color: #339900;
}
.option.active span i {
    color: #ffffff;
}
.stage_detail_table table table tbody tr td.option {
    padding: 0.5rem 0 0.5rem;
    vertical-align: middle;
}
.stage_detail_table table thead tr th:not(:first-child) {
    text-align: center;
}
.stage_detail_table table tbody tr td:not(:first-child) {
    text-align: center;
}
.workforce_sponsored_div {
    top: -27px;
    right: 0;
}
.mysub_option span {
    width: 1.92rem;
    height: 1.92rem;
    background-color: #339900;
    font-size: 0.92rem;
    font-weight: 500;
    color: #ffffff;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.choose_workforce_table table thead tr th {
    white-space: nowrap;
}
.choose_workforce_cost td {
    background-color: #f4fafc;
}
.choose_workforce_btn .btn {
    min-width: 17.57rem;
    padding: 0.55rem 1.3rem;
}
.choose_workforce_btn .workforce_sponsored_div {
    top: 0;
}
.finish_title {
    font-size: 3.42rem;
    font-weight: 600;
    color: #339900;
}
.finish_postion {
    font-size: 1.14rem;
    font-weight: 600;
    color: #333333;
}
.finish_img {
    width: 16.42rem;
    height: 10rem;
    border: solid 2px #7cc576;
    border-radius: 0.57rem;
}
.finish_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}
.stage_finish_para_blue {
    font-size: 1.42rem;
    font-weight: 600;
    color: #0e7ab0;
}
.stage_save_outer_box {
    max-width: 34.64rem;
}
.stage_save_status_outer {
    -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.46);
    -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.46);
    box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.46);
    border-radius: 5px;
    position: relative;
    z-index: 1;
}
.stage_save_status {
    min-height: 7.28rem;
    background-repeat: repeat-x;
    background-image: -ms-linear-gradient(top, #ECEDED 0%, #FDFDFD 30%, #ECEDED 50%, #FDFDFD 70%, #ECEDED 100%);
    background-image: -moz-linear-gradient(top, #ECEDED 0%, #FDFDFD 30%, #ECEDED 50%, #FDFDFD 70%, #ECEDED 100%);
    background-image: -o-linear-gradient(top, #ECEDED 0%, #FDFDFD 30%, #ECEDED 50%, #FDFDFD 70%, #ECEDED 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #ECEDED), color-stop(30, #FDFDFD), color-stop(50, #ECEDED), color-stop(70, #FDFDFD), color-stop(100, #ECEDED));
    background-image: -webkit-linear-gradient(top, #ECEDED 0%, #FDFDFD 30%, #ECEDED 50%, #FDFDFD 70%, #ECEDED 100%);
    background-image: linear-gradient(to bottom, #ECEDED 0%, #FDFDFD 30%, #ECEDED 50%, #FDFDFD 70%, #ECEDED 100%);
    -moz-box-shadow: inset 0 0 10px #000000;
    -webkit-box-shadow: inset 0 0 10px #000000;
    box-shadow: inset 0 0 10px rgba(0,0,0,0.3);
    border-radius: 5px;
    padding: 5px;
}
.save_status_left {
    width: 45%;
    background-color: rgba(201,231,169,1);
    position: relative;
}
.save_status_left::after {
    content: '';
    position: absolute;
    right: -3px;
    top: 0;
    border-right: dashed 2px #4aadd8;
    height: 100%;
}
.save_status_right {
    width: 55%;
}
.stage_save_status h3 {
    font-size: 1.28rem;
    font-weight: 500;
    color: #ff3333;
}
.stage_save_status h3 span {
    font-size: 2.14rem;
    font-weight: 600;
    color: #333333;
}
.stage_status_text {
    background-color: #32a4d5;
    min-width: 20.42rem;
    padding: 1.14rem .71rem;
    border-radius: 0 0 .71rem .71rem;
    font-size: 1.14rem;
    font-weight: 500;
    color: #ffffff;
    position: relative;
    z-index: 0;
    width: 50%;
    margin: 0 auto;
}
.play_stage_btn .btn {
    padding: 0.54rem 1.77rem;
}
.stage_finish_para_green {
    font-size: 1.71rem;
    font-weight: 600;
    color: #339900;
}
.stage_finish_common_para strong {
    font-size: 1.21rem;
    font-weight: 600;
    color: #000000;
}
.stage_finish_list {
    max-width: 30rem;
    width: 100%;
}
.stage_finish_list table tr th {
    text-align: right;
    color: #515151;
    font-size: 1rem;
    font-weight: 500;
}
.stage_finish_list table tr td {
    color: #333333;
    font-size: 1.21rem;
    font-weight: 600;
}
.stage_finish_list table tr th, .stage_finish_list table tr td {
    border-top: 0;
    padding: 0.35rem 0.25rem;
    vertical-align: middle;
}
.stage_finish_list table tr:nth-last-child(2) th, .stage_finish_list table tr:nth-last-child(2) td {
    padding: 0.35rem 0.05rem 0.95rem;
    border-bottom: dashed 1px #333333;
}
.stage3_finish_list {
    max-width: 35rem;
}
.table_two {
    margin-left: 2.42rem;
}
.penalty_color {
    color: #ff3333 !important;
}
.finish_table_title td {
    color: #339900 !important;
    padding-bottom: 1.07rem !important;
}

.stage_col_border {
	border: solid 1px #ebebeb;
	background-color: #ffffff;
}
.stage_research_text {
    line-height: 1.71rem;
}
.research_content_para, .research_content_lists li {
	font-size: 1rem;
	font-weight: 400;
	color: #666666;
}
.research_content_para strong {
	font-size: 1.21rem;
	font-weight: 500;
}
.research_para_heading {
	font-size: 1.14rem;
	font-weight: 500;
	color: #3399cc;
}
.research_content_para span {
	color: #ff6633;
}
.research_content_lists {
	padding-left: 1.07rem;
}
.research_content_lists li {
    margin-bottom: 7px;
    position: relative;
    padding-left: 10px;
}
.research_content_lists li::before {
    content: '>';
    position: absolute;
    left: 0;
    top: 40%;
    transform: translateY(-50%);
    display: inline-block;
}
.research_content_second {
	min-height: 45.71rem;
}
.stage_issues_col {
    border: solid 7px #000000;
    border-image: url(../img/border_image.png) 5 round;
}
.stage_issues_col {
    border: solid 5px #000;
    border-image: url(../img/border_image.png) 5 round;
    max-width: 36.57rem;
    background-color: #fdfdf5;
    margin-top: 5.71rem;
}
.stage_issues_text {
	font-size: 1.42rem;
	font-weight: 600;
	color: #cc3333;
	line-height: 1.92rem;
}
.stage_issue_girlimg {
    top: -7.71rem;
    left: 57%;
    transform: translateX(-50%);
}
.stage_issue_girlimg img {
	max-width: 13.71rem;
}
.stage_issues_lists li {
	font-size: 1.21rem;
	font-weight: 400;
	color: #666666;
}
.stage_issues_lists li span {
	width: 3.07rem;
	min-width: 3.07rem;
	height: 3.07rem;
	border-radius: 50%;
}
.stage_issues_lists li.active {
	color: #339933;
}
.stage_issues_lists li.active span {
	background-color: #339933;
	border-color: #339933;
	color: #ffffff;
}
.stage_issues_lists li.active span i {
    font-size: 1.71rem;
}
.stage_issues_btn .btn {
    min-width: 146px;
    padding: 0.536rem 0.75rem;
}
.stage_inspection_col {
	border: solid 2px #737373;
	border-radius: 0.71rem;
	background-color: #f8f4c5;
}
.stage_inspection_col img {
	max-width: 2rem;
}

.member_img {
	width: 64px;
	height: 64px;
	background-color: #e0e4e3;
	border-radius: 50%;
	display: inline-flex;
	margin: 0.71rem 0;
}
.member_img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}
.team_member_table tr td:first-child, .team_member_table tr th:first-child {
    width: 6.07rem;
    padding-left: 2.14rem;
}
.team_member_table tr td:last-child , .team_member_table tr th:last-child {
    padding-right: 2.14rem;
    width: 6.42rem;
}
.team_member_table .table td, .team_member_table .table th {
	vertical-align: middle;
	white-space: nowrap;
}
.team_member_table .table td {
	border-top: solid 1px #e1e1e1; 
}
.team_member_table tbody {
	background-color: #ffffff;
}
.team_member_table thead th {
	background-color: #666666;
	color: #ffffff;
	font-size: 1.07rem;
	font-weight: 600;
	padding: 1.05rem 0.75rem;
	border-bottom: 0;
	position: sticky;
    top: 0;
    z-index: 2;
    border-top: 0;
}
.member_name {
	font-size: 1.21rem;
	font-weight: 600;
	color: #000000;
	margin-bottom: 5px;
}
.member_email {
	font-size: 1.07rem;
	font-weight: 500;
	color: #666666;
	margin-bottom: 0;
}
.stage_leader.active {
	font-size: 1.28rem;
	font-weight: 700;
	color: #339933;
}
.stage_leader {
	font-size: 1.21rem;
	font-weight: 500;
	color: #e17a00;
}
.team_member_table .btn {
	font-size: 1.21rem;
	padding: 0.32rem 1.27rem;
}
.team_member_table tbody tr:first-child td {
	border-top: 0;
}
.team_member_table table {
	border: solid 1px #e1e1e1;
	border-top: 0;
}
.team_member_table table tbody tr:last-child td:first-child {
	border-bottom-left-radius: 4px;
}
.team_member_table .table-responsive {
	max-height: 33.28rem;
}
.stage_overview {
    background-color: #ffffff;
    border: solid 1px #e1e1e1;
    border-radius: 4px;
}
.stage_overview_title {
	font-size: 1.57rem;
	font-weight: 700;
	color: #0e7ab0;
}
.stage_overview_lists li {
    position: relative;
    /* margin-right: 6.92rem; */
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    padding: 0 3.425rem;
}
.stage_list_arrow {
    position: relative;
    width: 8.07rem;
    height: 5.92rem;
    margin: 0 auto;
}
.stage_list_arrow::before {
    content: '';
    background-image: url(../img/arrow_svg.svg);
    background-repeat: no-repeat;
    /*width: 8.07rem;
    height: 5.92rem;*/
    position: relative;
    z-index: 2;
    display: block;
    height: 100%;
}
.stage_overview_lists .steps_before {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%) skewX(-20deg);
    width: 100%;
    height: 1.57rem;
    background-color: #dedede;
    left: -65%;
}
.stage_overview_lists .steps_after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%) skewX(-20deg);
    width: 100%;
    height: 1.57rem;
    background-color: #868686;
    right: -50%;
    z-index: 1;
}
.stage_overview_lists li a {
    font-size: 1.27rem;
    font-weight: 600;
    color: #ffffff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 100%;
    text-align: center;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
}
.stage_overview_lists li a span {
    font-size: 2.81rem;
    font-weight: 400;
    color: #ffffff;
    display: block;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 5px;
}
.stage_overview_lists li:first-child .steps_before, .stage_overview_lists li:last-child .steps_after {
	display: none;
}
.stage_overview_lists li:last-child {
	margin-right: 0;
}
.steps_name {
    font-size: 1.14rem;
    font-weight: 600;
    color: #8c8c8c;
    width: 100%;
}
.steps_arrow_circle {
    width: 1.65rem;
    height: 1.65rem;
    border-radius: 50%;
    background-color: #868686;
    border: solid 3px #ffffff;
    position: absolute;
    right: -10px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}
/*Red arrow*/
.stage_overview_lists li.red .stage_list_arrow::before {
    background-image: url('../img/arrow_red.svg');
}
.stage_overview_lists li.red .steps_arrow_circle {
    background-color: #b84279;
}
.stage_overview_lists li.red .steps_after {
    background-color: #d86072;
}
.stage_overview_lists li.red .steps_name {
    color: #b84279;
}
/*Blue arrow*/
.stage_overview_lists li.blue .stage_list_arrow::before {
    background-image: url('../img/arrow_blue.svg');
}
.stage_overview_lists li.blue .steps_arrow_circle {
    background-color: #31aef8;
}
.stage_overview_lists li.blue .steps_after {
    background-color: #38c6f4;
}
.stage_overview_lists li.blue .steps_name {
    color: #38c6f4;
}
/*Orange arrow*/
.stage_overview_lists li.orange .stage_list_arrow::before {
    background-image: url('../img/arrow_orange.svg');
}
.stage_overview_lists li.orange .steps_arrow_circle {
    background-color: #f7852c;
}
.stage_overview_lists li.orange .steps_after {
    background-color: #f7852c;
}
.stage_overview_lists li.orange .steps_name {
    color: #f7852c;
}
/*Green arrow*/
.stage_overview_lists li.green .stage_list_arrow::before {
    background-image: url('../img/arrow_green.svg');
}
.stage_overview_lists li.green .steps_arrow_circle {
    background-color: #2bc8a5;
}
.stage_overview_lists li.green .steps_after {
    background-color: #2bc8a5;
}
.stage_overview_lists li.green .steps_name {
    color: #2bc8a5;
}



.how_we_did_section .stage_detail_header_title {
    font-weight: 500;
}
.how_we_did_content {
    background-color: #ffffff;
    border: solid 1px #e1e1e1;
    border-radius: 0 0 4px 4px;
}
.no_result_title {
    font-size: 1.28rem;
    font-weight: 500;
    color: #ff3333;
}
.no_result_text {
    font-size: 1.07rem;
    font-weight: 500;
    color: #666666;
}
.how_we_did_content.no_result {
    padding: 5rem 0 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.pop_up_list li {
    background-color: #eeeeee;
    border-radius: 0.42rem;
}
.pop_up_list label {
    font-size: 1.28rem;
    font-weight: 700;
    color: #666666;
    padding-left: 1.07rem;
}
.pop_up_list .custom-control-label::before, .pop_up_list .custom-control-label::after {
    width: 1.64rem;
    height: 1.64rem;
    top: 0;
}
.my_modal .modal-title {
    font-size: 1.14rem;
    font-weight: 400;
    color: #666666;
}
.my_modal .modal-header .close {
    padding: 0;
    margin: 0;
    font-size: 3.21rem;
    position: absolute;
    top: 0;
    right: 1rem;
}
.my_modal .modal-header {
    border-bottom: 0;
}
.my_modal .modal-content {
    border-radius: 0.71rem
}
.stage_overview_status {
    background-color: #ffff99;
    border: solid 1px #e1e1e1;
    border-radius: 4px;
}
.stage_overview_status_text {
    font-size: 1.28rem;
    font-weight: 400;
    color: #333333;
}
.stage_overview_status_text strong {
    font-weight: 600;
}
.stage_overview_status_text .green {
    color: #339900;
    font-weight: 700;
}
.stage_overview_status_text .red {
    color: #cc3300;
    font-weight: 700;
}
.stage_progress {
    font-size: 0.92rem;
    font-weight: 600;
}
.stage_progress.completed {
    color: #33cc33;
}
.stage_progress.playing {
    color: #288df5;
}
.stage_progress.not_played {
    color: #eb8e31;
}
.how_wedid_table tr td:last-child, .how_wedid_table tr th:last-child {
    width: auto;
}
.stage_progress span {
    width: 1.07rem;
    height: 1.07rem;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.57rem;
}
.stage_progress.completed span {
    background-color: #33cc33;
}
.stage_progress.playing span {
    background-color: #288df5;
}
.stage_progress.not_played span {
    background-color: #eb8e31;
}
.earnings {
    font-size: 1.07rem;
    font-weight: 600;
    color: #666666;
    position: relative;
}
.earnings strong {
    font-size: 1.28rem;
    font-weight: 600;
    color: #32a4d5;
}
.earnings img {
    max-width: 1.57rem;
    margin-left: 1.07rem;
}
.earning_details_tooltip {
    border: solid 5px #32a4d5;
    border-radius: 0.42rem;
    max-width: 18.14rem;
    min-width: 18rem;
    right: -20px;
    top: 36px;
    background-color: #ffffff;
    z-index: 1;
    display: none;
}
.earning_details_tooltip::before {
    content: '';
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 8px solid #32a4d5;
    position: absolute;
    top: -13px;
    right: 14px;
}
.earning_details_tooltip li {
    display: flex;
}
.earning_details_tooltip li span {
    padding: 0.71rem 1.42rem;
    font-size: 1.07rem;
}
.earning_details_tooltip li span.quantity {
    color: #333333;
}
.earning_details_tooltip li span.earning_status_good {
    color: #006699;
}
.earning_details_tooltip li span.earning_status_better {
    color: #663399;
}
.earning_details_tooltip li span.earning_status_best {
    color: #993399;
}
.earning_details_tooltip li:not(:last-child) {
    border-bottom: solid 1px #32a4d5;
}
.earning_details_tooltip li:not(:first-child) {
    background-color: #c0e4f4;
}
.earning_saving {
    font-size: 1.07rem;
    color: #339933;
}
.placements_head {
    font-size: 1.28rem;
    font-weight: 600;
    color: #32a4d5;
}
.work_area_image {
    /*max-width: 49.42rem;*/
    width: 100%;
    border: solid 1px #dfe2e3;
    border-radius: 6px;
    margin-right: 10px;
}
.work_area_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 6px;
}
.work_area_detail {
    border: solid 1px #b7b7b7;
    border-radius: 6px;
    width: 20%;
}
.work_area_head {
    font-size: 1.07rem;
    font-weight: 500;
    color: #ffffff;
    background-color: #32a4d5;
    border-radius: 6px 6px 0 0;
}
.work_area_panel {
    background-color: #f2ffff;
    height: calc(100% - 2.5rem);
}
.work_area_panel span {
    font-size: 1rem;
    font-weight: 500;
}
.work_area_item.blue .work_area_panel span {
    color: #0066ff;
}
.work_area_item.yellow .work_area_panel span {
    color: #ffcc00;
}
.work_area_item.green .work_area_panel span {
    color: #079b42;
}
.work_area_item.red .work_area_panel span {
    color: #df2626;
}
.work_area_item.blue .work_area_option.active {
    background-color: #0066ff;
    border-color:  #0066ff;
    color: #ffffff;
}
.work_area_item.yellow .work_area_option.active {
    background-color: #ffcc00;
    border-color: #ffcc00;
    color: #666666;
}
.work_area_item.green .work_area_option.active {
    background-color: #079b42;
    border-color: #079b42;
    color: #ffffff;
}
.work_area_item.red .work_area_option.active {
    background-color: #df2626;
    border-color: #df2626;
    color: #ffffff;
}
.work_area_panel img {
    max-width: 41px;
}
.work_area_option {
    width: 1.57rem;
    height: 1.57rem;
    border: solid 1px #666666;
    border-radius: 50%;
    font-size: 0.85rem;
    font-weight: 600;
    color: #666666;
}
.work_area_option.blue {
    background-color: #0066ff;
    border-color: #0066ff;
    color: #ffffff;
}
.work_area_item:not(:last-child) {
    border-bottom: solid 1px #b7b7b7;
}
.work_area_btn .btn {
    padding: 0.54rem 0.75rem;
    min-width: 146px;
    width: 15%;
}
.work_area_item {
    flex: 1 1 0;
}
.work_area_list {
    height: 94%;
}

.team_chat_header_title {
    font-size: 1.57rem;
    font-weight: 700;
    color: #ffffff;
}
.team_chat_header_btn .btn {
    padding: 0.29rem 0.68rem;
    font-size: 1.07rem;
}
.chat_content_inner {
    border: solid 1px #e1e1e1;
    border-top: 0;
    border-radius: 0 0 4px 4px;
    background-color: #ffffff;
}
.chat_content_header {
    background-color: #ededed;
}
.chat_attachment_list input[type="file"] {
    opacity: 0;
    position: absolute;
    width: 100%;
}
.chat_content_search input {
    max-width: 26rem;
    min-height: 2.85rem;
    border: solid 2px #d5d8d9;
    border-radius: 4px;
    font-size: 1rem;
    font-weight: 500;
    color: #a4a4a4;
    background-color: #ffffff;
    background-image: url('../img/search_icon.svg');
    background-repeat: no-repeat;
    background-position: center left 0.87rem;
    background-size: 1.07rem;
    padding-left: 2.84rem;
}
.chat_content_search input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #a4a4a4;
}
.chat_content_search input::-moz-placeholder { /* Firefox 19+ */
  color: #a4a4a4;
}
.chat_content_search input:-ms-input-placeholder { /* IE 10+ */
  color: #a4a4a4;
}
.chat_content_search input:-moz-placeholder { /* Firefox 18- */
  color: #a4a4a4;
}
.chat_attachment_list i {
    color: #999999;
    font-size: 1.78rem;
}
.online_users {
    font-size: 1rem;
    font-weight: 500;
    color: #999999;
}
.online_users span {
    width: 1.07rem;
    height: 1.07rem;
    background-color: #39b54a;
    border-radius: 50%;
    display: inline-block;
    vertical-align: middle;
    margin-right: 0.71rem;
}
.chat_user_image {
    width: 4.57rem;
    min-width: 4.57rem;
    height: 4.57rem;
    border-radius: 50%;
}
.chat_user_image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 50%;
}
.chat_user_msg_box {
    background-color: #eef4e6;
    max-width: 33.57rem;
    border-radius: 6px 6px 6px 0;
    position: relative;
}
.chat_user_msg_box::before {
    content: '';
    position: absolute;
    left: -0.85rem;
    bottom: 0;
    width: 0;
    height: 0;
    border-bottom: 0.85rem solid #eef4e6;
    border-left: 0.85rem solid transparent;
}
.chat_user_name {
    font-size: 1rem;
    font-weight: 600;
    color: #000000;
}
.chat_user_content {
    font-size: 1rem;
    font-weight: 500;
    color: #666666;
    line-height: 1.35rem;
}
.user_chat_time {
    font-size: 1rem;
    font-weight: 400;
    color: #999999;
}
.chats_panel.right .chat_user_image {
    order: 2;
}
.chats_panel.right .chat_user_msg_box {
    background-color: #d0eefd;
    border-radius: 6px 6px 0 6px;
}
.chats_panel.right .chat_user_msg_box::before {
    left: unset;
    right: -0.85rem;
    border-bottom: 0.85rem solid #d0eefd;
    transform: rotateY(180deg);
}
.chats_panel.right .chat_user_content {
    font-size: 1.07rem;
    color: #474747;
}
.chat_user_input input {
    border: 0;
    background-color: #666666;
    color: #ffffff;
    border-radius: 2px 0 0 2px;
    font-size: 1.07rem;
    font-weight: 500;
}
.chat_user_input input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #ffffff;
}
.chat_user_input input::-moz-placeholder { /* Firefox 19+ */
  color: #ffffff;
}
.chat_user_input input:-ms-input-placeholder { /* IE 10+ */
  color: #ffffff;
}
.chat_user_input input:-moz-placeholder { /* Firefox 18- */
  color: #ffffff;
}
.chat_user_input .btn {
    min-width: 7.85rem;
    min-height: 3.71rem;
    font-size: 1.07rem;
    font-weight: 600;
    border-radius: 0 2px 2px 0;
}
/*Ashish Css End*/

.work_area_image_icon_sec{ width: 100%; height: 100%; position: absolute; top: 0%; left: 0%; z-index: 2;}
.count_yellow_a,
.count_yellow_b,
.count_yellow_c,
.count_green_a,
.count_green_b,
.count_green_c,
.count_sky_a,
.count_sky_b,
.count_sky_c,
.count_red_a,
.count_red_b,
.count_red_c{ width: 22px; height: 22px; border-radius: 50%; background-color: #ffff33; font-size: 12px; color: #666666; line-height: 1; font-weight: 600; display: -webkit-box; display: -ms-flexbox; display: flex; -webkit-box-align: center; -ms-flex-align: center; align-items: center; -webkit-box-pack: center; -ms-flex-pack: center; justify-content: center; position: absolute; top: 11rem; left: 19rem;}
.count_yellow_b{ top: 14rem; left: 15rem;}
.count_yellow_c{ top: 23rem; left: 16rem;}

.count_green_a{ background-color: #119f49; color: #ffffff; top: 9.5rem; left: 23rem;}
.count_green_b{ background-color: #119f49; color: #ffffff; top: 18.5rem; left: 10.5rem;}
.count_green_c{ background-color: #119f49; color: #ffffff; top: 24.5rem; left: 12.5rem;}

.count_sky_a{ background-color: #0058dd; color: #ffffff; top: 18rem; left: 25.5rem;} 
.count_sky_b{ background-color: #0058dd; color: #ffffff; top: 18rem; left: 18.5rem;}
.count_sky_c{ background-color: #0058dd; color: #ffffff; top: 22rem; left: 23.5rem;}

.count_red_a{ background-color: #df2626; color: #ffffff; top: 23.5rem; left: 9.5rem;}
.count_red_b{ background-color: #df2626; color: #ffffff; top: 13rem; left: 9rem;}
.count_red_c{ background-color: #df2626; color: #ffffff; top: 15rem; left: 25rem;}



.placmentActiveStyle{
    border: 1px solid #000;
    font-weight: 700;
}


/* profile dropdown */
.welcome_title > a{ position: relative; line-height: 0;}
.welcome_title > a span {
    max-width: 9.5rem;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1;
    padding: 0rem 0.8rem;
    padding-right: 18px !important;
}

.welcome_title > a:after {
    width: 0.9rem;
    height: 0.9rem;
    background-image: url(/assets/img/select_arrow.svg);
    background-repeat: no-repeat;
    background-position: center right;
    background-size: 100%;
    position: absolute;
    top: 50%;
    right: 0;
    -webkit-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
    content: "";
}

.welcome_title .dropdown-menu{
    min-width: 12rem;
    position: absolute;
    background-color: #fff;
    left: auto !important;
    right: 0px;
    border: 0px;
    border-radius: 3px;
    top: calc(100% + 1.3rem) !important;
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    -webkit-transform: translate(0px, 0px) !important;transform: translate(0px, 0px) !important;
    padding: 0px 0px;
    margin: 0px 0px;
}

.welcome_title .dropdown-menu:before {
    width: 0;
    height: 0;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    position: absolute;
    top: -6px;
    right: 3px;
    content: '';
}
.welcome_title .dropdown-menu li a{ 
    font-size: 1.14rem;
    color: #757575;
    display: block;
    line-height: normal;
    padding: 8px 12px;
    margin: 0px 0px;
}
.welcome_title .dropdown-menu li:hover a{ background-color: rgba(0,0,0,0.05);}
.welcome_title .dropdown-menu li a.red {
    color: #f00000;
}

/* page 8C, 9F */
.messenger_desc_block{ display: -webkit-box; display: -ms-flexbox; display: flex;}
.messenger_desc_block .knowledge_content_info{ height: 10rem;}
.messenger_desc_btn{ text-align: right;}
.messenger_desc_btn .btn{ font-size: 1.2rem; padding: .4rem 1.3rem;}

.leaderboard_btns{ min-height: 28rem;}
.webcor_list_sec{ max-height: 28rem; overflow: auto; border-radius: .57rem; background-color: #ffffff; background-image: none !important; box-shadow: 2.5px 4.33px 10px 0px rgba(0, 0, 0, 0.5),inset 2.5px 4.33px 10px 0px rgba(255, 255, 255, 0.75); padding: .5rem .8rem;}
.webcor_list_sec table tr:first-child td{ border-top: 0px;}
.webcor_list_sec table tr td{ vertical-align: middle;}

.webcor_list_sec th{ background-color: #666666; color: #ffffff; font-size: 1.07rem; font-weight: 600; padding: 1.05rem 0.75rem; border-bottom: 0; position: sticky; top: 0; z-index: 2; border-top: 0;}

.profile_menu_block .stage_budget_title{ font-size: 1.43rem;}
.profile_menu_block .stage_budget_steps li a{ font-size: 1.07rem;}
.profile_ata_block{ background-color: rgba(255,255,255,0.7);}






















/*
font-family: 'Raleway', sans-serif;
*/




















