@media (min-width: 2560px){
    .container{ max-width: 1920px;}
    html{ font-size: 16px;}    
}

@media (min-width: 1920px){
    .container{ max-width: 1440px;}   
}
@media (min-width: 576px) {
    .modal-dialog {
        max-width: 32.85rem;
        margin: 21.75rem auto;
    }
}

/*@media (min-width: 1680px){
    .container{ max-width: 1440px;}
    html{ font-size: 14px;}
}*/

@media screen and (max-width: 1919.98px){
    /*Ashish Css*/
    .young_tech_panel {
        height: 15rem;
    }
    .stage_budget_steps li a {
        font-size: 0.91rem;
    }
    .work_area_detail {
        width: 25%;
        padding-bottom: 5px;
    }
}

@media (max-width: 1439.98px){
    html{ font-size: 12px;}
    .navigation .navbar{ padding: 1.07rem 1.07rem;}
    .logo img{ max-width: 18rem;}
    .page_title{ font-size: 2.5rem;}
    .leaderboard_btns,
    .webcor_list_sec{ min-height: 25rem; max-height: 25rem;}
    .sponsored_logo img { max-width: 4rem;}
    /*Ashish Css*/
    .stage_budget_steps li a {
        font-size: 1rem;
    }
}

@media (max-width: 1199.98px){
    /*Ashish Css*/
    .stage_budget_steps li a {
        font-size: 0.83rem;
    }
    .budget_table .table-bordered td {
        font-size: 0.96rem;
    }
    .stage_issues_lists li span {
        width: 2.67rem;
        min-width: 2.67rem;
        height: 2.67rem;
    }
    .stage_issues_lists li.active span i {
        font-size: 1.31rem;
    }
    .work_area_detail {
        width: 32%;
    }

.count_yellow_a{ top: 9rem; left: 17rem;}
.count_yellow_b{ top: 12rem; left: 13rem;}
.count_yellow_c{ top: 23rem; left: 10rem;}
.count_green_a{ top: 5.5rem; left: 25rem;}
.count_green_b{ top: 21rem; left: 1rem;}
.count_green_c{ top: 29.5rem; left: 10.5rem;}
.count_red_a{ top: 29rem; left: 1.5rem;}
.count_red_b{ top: 10rem; left: 32rem;}
.count_red_c{ top: 15rem; left: 20rem;}
.count_sky_a{ top: 15rem; left: 32rem;}
.count_sky_b{ top: 18rem; left: 25.5rem;}
.count_sky_c{ top: 22rem; left: 18.5rem;}
}

@media (max-width: 991.98px){
    .logo img { max-width: 18rem;}
    .page_title { font-size: 3rem;}
    
    /*Ashish Css*/
    .young_tech_panel {
        height: 11rem;
    }
    .workforce_table > table {
        width: 50rem;
    }
    .workforce_sponsored_div {
        position: relative !important;
        top: 0;
        left: 0;
        right: 0;
    }
    .stage_overview_lists {
        flex-wrap: wrap;
    }
    .stage_overview_lists li {
        width: 50%;
        margin-bottom: 2.14rem;
    }
    .stage_overview_lists li:nth-child(even) .steps_after {
        display: none;
    }
    .stage_overview_lists li:nth-child(odd) .steps_before {
        display: none;
    }
    .work_area_detail {
        width: 100%;
    }
    
.count_yellow_a{ top: 5rem; left: 14rem;}
.count_yellow_b{ top: 8rem; left: 10rem;}
.count_yellow_c{ top: 13rem; left: 10rem;}
.count_green_a{ top: 3.5rem; left: 18rem;}
.count_green_b{ top: 11rem; left: 5rem;}
.count_green_c{ top: 15.5rem; left: 7.5rem;}
.count_sky_a{ top: 10rem; left: 20rem;}
.count_sky_b{ top: 13rem; left: 15.5rem;}
.count_sky_c{ top: 17rem; left: 11.5rem;}
.count_red_a{ top: 15rem; left: 2.5rem;}
.count_red_b{ top: 6rem; left: 23rem;}
.count_red_c{ top: 9rem; left: 16rem;}
}

@media (max-width: 767.98px){
    .navigation .navbar-collapse{ padding-top: 1.5rem;}
    .navigation .navbar-nav{ -webkit-box-orient: horizontal; -webkit-box-direction: normal; -ms-flex-direction: row; flex-direction: row;}
    .navigation .navbar-nav li{ padding: .5rem .5rem;}
    .page_title { font-size: 2.5rem;}
    .footer_links{ text-align: center;}
    
    /*Ashish Css*/
    .young_tech_panel {
        height: 8rem;
    }
    .stage_panel_content {
        height: auto;
    }
    .stage_budget_steps li a {
        font-size: 1rem;
    }
    .stage_detail_content_block {
        min-height: auto;
    }
    
.count_yellow_a{ top: 7rem; left: 15rem;}
.count_yellow_b{ top: 10rem; left: 10rem;}
.count_yellow_c{ top: 15rem; left: 10rem;}
.count_green_a{ top: 4.5rem; left: 18.5rem;}
.count_green_b{ top: 13rem; left: 6rem;}
.count_green_c{ top: 17.5rem; left: 7.5rem;}
.count_sky_a{ top: 12rem; left: 22rem;}
.count_sky_b{ top: 15rem; left: 16.5rem;}
.count_sky_c{ top: 19rem; left: 12.5rem;}
.count_red_a{ top: 17rem; left: 2.5rem;}
.count_red_b{ top: 7rem; left: 26rem;}
.count_red_c{ top: 11rem; left: 16rem;}
    
    
    
    
}

@media (max-width: 575.98px){
    .logo img { max-width: 15rem;}
    .leaderboard_btns li{ white-space: normal;}
    .signin_tab_sec .nav-tabs::before, 
    .signin_tab_sec .nav-tabs::after{ display: none;}

    /*Ashish Css*/
    .young_tech_panel {
        height: 13rem;
    }
    .finish_title {
        font-size: 2.32rem;
    }
    .save_status_left {
        width: 40%;
    }
    .save_status_right {
        width: 100%;
    }
    .stage_status_text {
        min-width: 18rem;
    }
    .table_two {
        margin-left: 0;
    }
    .stage_title {
        font-size: 1.41rem;
    }
    .stage_overview_lists .steps_after {
        right: -63%;
    }
    .stage_overview_lists .steps_before {
        left: -70%;
    }
    
    .messenger_desc_block{ display: block;}
    .messenger_desc_block .knowledge_content_info{ height: auto;}
    .messenger_desc_block .member_img{ margin-bottom: 1.5rem !important;}
    .messenger_desc_btn{ text-align: left;}
}

@media (max-width: 479.98px){
    .navigation .navbar-nav{ -webkit-box-orient: vertical; -webkit-box-direction: normal; -ms-flex-direction: column; flex-direction: column;}

    .stage_overview_lists li {
        width: 100%;
        padding: 0;
    }
    .stage_overview_lists .steps_before, .stage_overview_lists .steps_after {
        display: none;
    }
    .stage_list_arrow::before {
        transform: rotate(90deg);
    }
    .steps_arrow_circle {
        right: unset;
        top: unset;
        transform: translate(-50%, 0%);
        bottom: -20px;
        left: 50%;
    }
    .stage_overview_lists li:last-child {
        margin-bottom: 0;
    }
    .chat_content_header {
        flex-direction: column;
    }
    .chat_content_search, .chat_content_text   {
        width: 100%;
        padding: 0 0.71rem !important;
    }
    .chat_content_text > div {
        justify-content: flex-start !important;
    }
    .chat_content_search {
        margin-bottom: 1.07rem;
    }
    .chat_content_search input {
        max-width: 100%;
        width: 100%;
    }
    .chat_attachment_list {
        margin-left: auto !important;
    }
    .chat_user_input .btn {
        min-width: 6.85rem;
    }
    
.count_yellow_a, 
.count_yellow_b, 
.count_yellow_c, 
.count_green_a, 
.count_green_b, 
.count_green_c, 
.count_sky_a, 
.count_sky_b, 
.count_sky_c, 
.count_red_a, 
.count_red_b, 
.count_red_c{ width: 18px; height: 18px; font-size: 11px;}
    
.count_yellow_a{top: 4rem;left: 8rem;}
.count_yellow_b{top: 6rem;left: 5rem;}
.count_yellow_c{top: 8.5rem;left: 6rem;}
.count_green_a{top: 2.5rem;left: 10rem;}
.count_green_b{top: 7.5rem;left: 2.5rem;}
.count_green_c{top: 10.5rem;left: 7.5rem;}
.count_sky_a{top: 6.5rem;left: 8.5rem;}
.count_sky_b{top: 7.5rem;left: 11.5rem;}
.count_sky_c{top: 9rem;left: 9.5rem;}
.count_red_a{top: 10rem;left: 2.5rem;}
.count_red_b{top: 3.5rem;left: 14rem;}
.count_red_c{top: 5rem;left: 11rem;}
    
}
