<div class="body_section mt-4 mb-5">
    <div class="container">
        <app-gameheader></app-gameheader>
        <div class="data_content_sec mb-5">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 text-center">
                    <h2 class="login_title mt-5">Create Your Account</h2>
                    <div class="signin_tab_sec p-4 pb-5">
                        <ul class="nav nav-tabs d-flex border-0 position-relative px-0 px-sm-5 mb-5" id="myTab" role="tablist">
                            <li class="nav-item">
                            <a class="nav-link active" routerLink="/team-signup" aria-selected="true">Team Signup</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link"  routerLink="/advisor-signup" aria-selected="false">AdvisorSignup</a>
                            </li>
                            <li class="nav-item">
                            <a class="nav-link" routerLink="/student-signup" aria-selected="false">Student Signup</a>
                            </li>
                        </ul>
                        <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active">
                                <form class="form_sec" [formGroup]="registerForm" (ngSubmit)="registerUser()">
                                    <input *ngIf="!user_role_id" type="hidden" formControlName="role_id" [ngModel]="2" >
                                    <input *ngIf="user_role_id" type="hidden" formControlName="role_id" [ngModel]="user_role_id" >

                                    <div class="row">
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <input class="form-control" formControlName="firstName" type="text" [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }" placeholder="First Name">
                                                <div *ngIf="submitted && f.firstName.errors" class="invalid-feedback text-left">
                                                    <div *ngIf="f.firstName.errors.required">First Name is required</div>
                                                </div>
                                            </div>

                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <input class="form-control" formControlName="lastName" type="text" [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }" placeholder="Last Name">
                                                <div *ngIf="submitted && f.lastName.errors" class="invalid-feedback text-left">
                                                  <div *ngIf="f.lastName.errors.required">Last Name is required</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form-group">
                                                <input class="form-control" formControlName="email" type="text" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" placeholder="Email">
                                                <div *ngIf="submitted && f.email.errors" class="invalid-feedback text-left">
                                                    <div *ngIf="f.email.errors.required">Email is required</div>
                                                    <div *ngIf="f.email.errors.email">Email is not valid</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <input class="form-control" formControlName="password" type="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" placeholder="Password">
                                                <div *ngIf="submitted && f.password.errors" class="invalid-feedback text-left">
                                                    <div *ngIf="f.password.errors.required">Password is required.</div>
                                                    <div *ngIf="f.password.errors.minlength">Password must be 6 character long.</div>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12 col-md-6">
                                            <div class="form-group">
                                                <input class="form-control" formControlName="confirmPassword" type="password" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" placeholder="Confirm Password">
                                                <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback text-left">
                                                  <div *ngIf="f.confirmPassword.errors.required">Password is required.</div>
                                                  <div *ngIf="f.confirmPassword.errors.minlength">Password must be 6 character long.</div>
                                                  <div *ngIf="f.confirmPassword.errors.mustMatch">Password and Confirm Password does not match.</div>
                                                </div>
                                            </div>
                                        </div>

                                        
                                        <div class="col-12" *ngIf="user_role_id">
                                            <div class="form-group">
                                                <ul class="radiobutton_block d-block text-left d-sm-flex align-items-center mx-n4" [ngClass]="{ 'is-invalid': submitted && f.position.errors }">
                                                    <li class="custom_radio my-2 my-sm-0 mx-4 ">Join Team &nbsp; <input type="radio" formControlName="position" value="0" checked="checked"><span class="radio_indicator">&nbsp;</span></li>
                                                </ul>
                                                <div *ngIf="submitted && f.position.errors" class="text-left">
                                                  <div *ngIf="f.position.errors.required">Field is required.</div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-12" *ngIf="user_role_id == null">
                                            <div class="form-group">
                                                <ul class="radiobutton_block d-block text-left d-sm-flex align-items-center mx-n4" [ngClass]="{ 'is-invalid': submitted && f.position.errors }">
                                                    <li class="custom_radio my-2 my-sm-0 mx-4">Become Team Leader &nbsp; <input type="radio" formControlName="position" value="1" checked="checked"><span class="radio_indicator">&nbsp;</span></li>
                                                    <li class="custom_radio my-2 my-sm-0 mx-4">Join Team &nbsp; <input type="radio" formControlName="position" value="0" ><span class="radio_indicator">&nbsp;</span></li>
                                                </ul>
                                                <div *ngIf="submitted && f.position.errors" class="text-left">
                                                  <div *ngIf="f.position.errors.required">Field is required.</div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="col-12" *ngIf="user_role_id">
                                            <div class="form-group mb-0" *ngIf="registerForm.controls['position'].dirty">

                                                <select class="form-control" formControlName="team_id" >
                                                    <option value="">--Please select team--</option>
                                                    <option *ngFor="let summary of this.teamList" value={{summary._id}>
                                                      {{summary.team_name}}
                                                    </option>
                                                  </select>
                                           
                                                <div *ngIf="submitted && f.team_id.errors" class="invalid-feedback text-left">
                                                    <div *ngIf="f.team_id.errors.required">Please select one team name or team id.</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12" *ngIf="!user_role_id">
                                            <div class="form-group mb-0" *ngIf="registerForm.controls['position'].dirty && registerForm.controls['position'].value == 1">
                                                <input class="form-control" formControlName="teamName" type="text" [ngClass]="{ 'is-invalid': submitted && f.teamName.errors }" placeholder="Team Name / ID">
                                                <div *ngIf="submitted && f.teamName.errors" class="invalid-feedback text-left">
                                                    <div *ngIf="f.teamName.errors.required">Field is required.</div>
                                                </div>
                                            </div>
                                            <div class="form-group mb-0" *ngIf="registerForm.controls['position'].dirty && registerForm.controls['position'].value == 0">

                                                <select class="form-control" formControlName="team_id" >
                                                    <option value=""> --Please select team-- </option>
                                                    <option *ngFor="let summary of this.teamList" value={{summary._id}}>
                                                      {{summary.team_name}}
                                                    </option>
                                                  </select>
                                           
                                                <div *ngIf="submitted && f.team_id.errors" class="invalid-feedback text-left">
                                                    <div *ngIf="f.team_id.errors.required">Please select one team name or team id.</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-12">
                                            <div class="form_btn_view mt-5">
                                                <div class="signin_form_btn_view">
                                                    <button class="btn m-2" type="submit">Sign up <i class="fas fa-chevron-circle-right ml-4"></i></button>
                                                    <a class="btn cancel_btn m-2" routerLink="/login">Login <i class="fas fa-times-circle ml-4"></i></a>
                                                </div>

                                                <div class="or_divider text-center my-4"><span>Or</span></div>
                                                <button class="btn linkedin_btn" type="button"><i class="fab fa-linkedin-in mr-3"></i> Sign in with Linkedin</button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
