
<div class="stage_budget_col_left p-3">
  <div class="mb-4 pb-1">
      <div class="stage_budget_title pb-3 mb-4">Stage 1 : Workforce</div>
      <ul class="stage_budget_steps">
          <li class="mb-2"> <a  class="d-flex align-items-center p-3 w-100" routerLink="/stages/choose-workforce"><img src="/assets/img/stage_budget_steps_icon02.png" alt="stage_budget_steps_icon" />Choose Workforce</a></li>
          <li class="mb-2 active"><a class="d-flex align-items-center p-3 w-100" routerLink="/stages/research-center"><img src="/assets/img/steps_research_center_ic.png" alt="stage_budget_steps_icon" />Research Center</a></li>
      </ul>
  </div>
  <div class="mb-4 pb-1">
      <div class="stage_budget_title pb-3 mb-4">Sponsored by</div>
      <ul class="stage_sponsoredby">
          <li class="d-flex p-4">
              <div class="stage_sponsoredby_img mr-3 d-flex align-items-center justify-content-center p-1"><img src="/assets/img/pacific_structers_logo.png" alt="pacific_structers_logo" /></div>
              <div class="stage_sponsoredby_name mt-1">Pacific Structures</div>
          </li>
      </ul>
  </div>
  <div class="mb-4 pb-1">
      <div class="stage_budget_title pb-3 mb-4">Scoring </div>
      <div class="stage_scoring p-3">
          <p class="stage_scoring_highlight">You will earn $50,000 on Saving per minute </p>
          <p class="stage_scoring_text mb-0"><strong>For example:</strong></p>
          <p class="stage_scoring_text">On saving 10 minutes, your total earning will be </p>
          <p class="stage_scoring_text">$50,000 x 10  <strong>= $5,00,000</strong></p>
      </div>
  </div>
</div>