 <div class="d-md-flex align-items-end d-block pt-3">
	<div class="flex-fill mb-md-5 mb-4"><h1 class="page_innertitle">{{this.contentSettings.main_page_title}}</h1></div>
	<div class="flex-fill text-md-right mb-md-5 mb-4">
		<div class="welcome_title mb-3" *ngIf="this.userService.isLoggedIn()">
			Welcome, <a href="javascript:void();" data-toggle="dropdown" aria-expanded="true"><span>{{this.userService.getCurrentUser().name}}</span></a>
			<ul class="dropdown-menu">
				<li><a routerLink="/user/my-profile" title="dashboard">Dashboard</a></li>
				<li><a (click)="logout()">Logout</a></li>
			</ul>
		</div>
	</div>
</div>
