<div class="body_section mt-4 mb-5">
  <div class="container">
      <app-stages-header></app-stages-header>
      <div class="data_content_sec mb-5">
          <div class="row">
              <div class="col-12 p-5">
                  <div class="row">
                      <div class="col-12">
                          <div class="stage_number text-center mb-4 pb-2">LeaderBoard End of Stage {{gameStage}}</div>
                      </div>
                  </div>
                  <div class="row justify-content-center">
                      <div class="col-12 col-md-10 col-lg-10">
                          <div class="leaderboard_block mt-5 mt-md-0">
                            <div class="leaderboard_title_btn_sec">
                                <div class="leaderboard_title text-center">Leaderboard</div>
                                <ul class="leaderboard_btns">
                                    <li class="d-flex" style="color:black;">
                                        <div class="text-left">Team Name</div>
                                        <div class="text-right">Total Spent</div>
                                        <div class="text-right">Bonus</div>
                                        <div class="text-right">Total Budget</div>
                                    </li>
                                    <li class="d-flex" *ngFor="let details of sortData" style="color:black;">
                                        <div class="text-left">{{details.team_name}}</div>
                                        <div class="text-right">{{details.total_spent}}</div>
                                        <div class="text-right">${{ConvertToInt(details.score) }}</div>
                                        <div class="text-right">${{ConvertToInt(details.budget)}}</div>
                                    </li>
                                </ul>
                            </div>
                          </div>
                      </div>
                  </div>
                  <div class="stage_btn_group text-center" *ngIf="ConvertToInt(gameStage) < 5">
                      <a routerLink="/stages"  class="btn btn_green m-2">Play Stage</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>


