<div class="body_section mt-4 mb-5">
  <div class="container">
      <app-stages-header></app-stages-header>
      
      <div class="data_content_sec mb-5">
          <div class="row">
              <div class="col-lg-3 col-md-4">
                  <div class="stage_budget_col_left p-3">
                      <div class="mb-4 pb-1">
                          <div class="stage_budget_title pb-3 mb-4">Stage 1 : Workforce</div>
                          <ul class="stage_budget_steps">
                              <li class="mb-2 active"><a class="d-flex align-items-center p-3 w-100" href="#"><img src="/assets/img/stage_budget_steps_icon01.png" alt="stage_budget_steps_icon" />Review Construction Budget</a></li>
                              <li class="mb-2"><a class="d-flex align-items-center p-3 w-100" href="#"><img src="/assets/img/stage_budget_steps_icon02.png" alt="stage_budget_steps_icon" />Review Workforce</a></li>
                              <li class="mb-2"><a class="d-flex align-items-center p-3 w-100" href="#"><img src="/assets/img/stage_budget_steps_icon03.png" alt="stage_budget_steps_icon" />Choose Workforce</a></li>
                          </ul>
                      </div>
                      <div class="mb-4 pb-1">
                          <div class="stage_budget_title pb-3 mb-4">Sponsored by</div>
                          <ul class="stage_sponsoredby">
                              <li class="d-flex p-4">
                                  <div class="stage_sponsoredby_img mr-3 d-flex align-items-center justify-content-center p-1"><img src="/assets/img/pacific_structers_logo.png" alt="pacific_structers_logo" /></div>
                                  <div class="stage_sponsoredby_name mt-1">Pacific Structures</div>
                              </li>
                          </ul>
                      </div>
                      <div class="mb-4 pb-1">
                          <div class="stage_budget_title pb-3 mb-4">Budget Calculator</div>
                          <div class="budget_table table-responsive">
                              <table class="table table-bordered">
                                <thead>
                                  <tr>
                                    <th scope="col">Unspent</th>
                                    <th scope="col">Spent</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td class="budget_blue">$139 million</td>
                                    <td class="budget_green">$111 million</td>
                                  </tr>
                                  <tr>
                                    <td class="budget_blue">40 Minutes</td>
                                    <td class="budget_green">200 Minutes</td>
                                  </tr>
                                </tbody>
                              </table>
                          </div>
                      </div>
                      <div class="mb-4 pb-1">
                          <div class="stage_budget_title pb-3 mb-4">Scoring </div>
                          <div class="stage_scoring p-3">
                              <p class="stage_scoring_highlight">You will earn $50,000 on Saving per minute </p>
                              <p class="stage_scoring_text mb-0"><strong>For example:</strong></p>
                              <p class="stage_scoring_text">On saving 10 minutes, your total earning will be </p>
                              <p class="stage_scoring_text">$50,000 x 10  <strong>= $5,00,000</strong></p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-9 col-md-8">
                  <div class="stage_budget_col_right pr-md-4 pl-md-0 px-3 py-4">
                      <div class="stage_status d-flex align-items-center mb-4 mt-2">
                          <div class="stage_title flex-fill">Stage 1</div>
                          <div class="stage_btn ml-auto"><a href="#" class="btn btn_green"><img class="mr-3" src="/assets/img/play_btn_icon.png" alt="play_btn_icon" />Play</a></div>
                      </div>
                      <div class="stage_detail_block">
                          <div class="stage_detail_header d-lg-flex d-block align-items-center py-lg-1 py-3 px-3">
                              <div class="stage_detail_header_title text-center text-lg-left mb-3 mb-lg-0">Review Construction Budget</div>
                              <div class="d-flex align-items-center ml-auto justify-content-lg-start justify-content-center">
                                  <div class="timer text-right mr-4"><small class="d-block text-white">Sponsored by</small><img src="/assets/img/walter_p_moore_logo.png" alt="walter_p_moore_logo"></div>
                                  <ul class="timer_clock d-flex align-items-center justify-content-md-end">
                                      <li class="text-center">
                                        <app-stage-timer></app-stage-timer>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                          <div class="stage_detail_content_block px-3 py-5">
                              <div class="stage_detail_table table-responsive mb-5">
                                  <table class="table mb-0">
                                    <thead>
                                      <tr>
                                        <th scope="col">Sub</th>
                                        <th scope="col">High Cost</th>
                                        <th scope="col"></th>
                                        <th scope="col">Low Cost</th>
                                        <th scope="col"></th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <tr>
                                        <td scope="row"><span class="table_sub_head">Concrete</span></td>
                                        <td>$435,000</td>
                                        <td></td>
                                        <td>$415,000</td>
                                        <td></td>
                                      </tr>
                                      <tr>
                                        <td scope="row"><span class="table_sub_head">Electrical</span></td>
                                        <td>$375,000</td>
                                        <td></td>
                                        <td>$355,000</td>
                                        <td></td>
                                      </tr>
                                      <tr>
                                        <td scope="row"><span class="table_sub_head">Mechanical</span></td>
                                        <td>$375,000</td>
                                        <td></td>
                                        <td>$345,000</td>
                                        <td></td>
                                      </tr>
                                      <tr>
                                        <td scope="row"><span class="table_sub_head">Plumbing</span></td>
                                        <td>$375,000</td>
                                        <td></td>
                                        <td>$350,000</td>
                                        <td></td>
                                      </tr>
                                      <tr>
                                        <td scope="row"><span class="table_sub_head">Drywall</span></td>
                                        <td>$415,000</td>
                                        <td></td>
                                        <td>$375,000</td>
                                        <td></td>
                                      </tr>
                                      <tr>
                                        <td scope="row"><span class="table_sub_head">Curtainwall</span></td>
                                        <td>$410,000</td>
                                        <td></td>
                                        <td>$350,000</td>
                                        <td></td>
                                      </tr>
                                      <tr>
                                        <td scope="row"><span class="table_sub_head">Finish </span></td>
                                        <td>$415,000</td>
                                        <td></td>
                                        <td>$375,000</td>
                                        <td></td>
                                      </tr>
                                      <tr>
                                        <td scope="row"></td>
                                        <td><strong>$2,800,000</strong> <br>High per floor</td>
                                        <td></td>
                                        <td><strong>$2,565,000</strong><br>Low per floor</td>
                                        <td></td>
                                      </tr>
                                      <tr class="total_cost_row">
                                        <td scope="row">Total Cost  37 floors</td>
                                        <td>$103,600,000</td>
                                        <td>77.5%</td>
                                        <td>$94,905,000</td>
                                        <td>76.0%</td>
                                      </tr>
                                      <tr class="cost_row">
                                        <td scope="row">Other hard costs*</td>
                                        <td>$15,000,000</td>
                                        <td>11.2%</td>
                                        <td>$15,000,000</td>
                                        <td>12.0%</td>
                                      </tr>
                                      <tr class="cost_row">
                                        <td scope="row">Soft Costs**</td>
                                        <td>$15,000,000</td>
                                        <td>11.2%</td>
                                        <td>$15,000,000</td>
                                        <td>12.0%</td>
                                      </tr>
                                      <tr class="total_cost_row total_budget_row">
                                        <td scope="row">Total Budget</td>
                                        <td>$133,600,000</td>
                                        <td>100.0%</td>
                                        <td>$124,905,000</td>
                                        <td>100.0%</td>
                                      </tr>
                                    </tbody>
                                  </table>
                              </div>

                              <div class="text-center mb-4">
                                  <button class="btn" type="submit">Review Workforce <i class="fas fa-chevron-circle-right ml-4"></i></button>
                              </div>

                              <div class="d-md-flex d-block align-items-center px-3">
                                  <div class="flex-fill mb-5 mb-md-0">
                                      <div class="stage_other_cost mb-4">
                                          <p class="stage_other_cost_text"><span>*</span>Other hard costs </p>
                                          <p class="stage_other_cost_text other_costtext_link pl-2">(Steel, stairs, elevators, hoists, crane)</p>
                                      </div>
                                      <div class="stage_other_cost">
                                          <p class="stage_other_cost_text"><span>**</span>Soft costs </p>
                                          <p class="stage_other_cost_text other_costtext_link pl-3">(3% GC fee, insurance, general conditions, contingency)</p>
                                      </div>
                                  </div>

                                  <div class="flex-fill ml-auto text-md-right">
                                      <p class="cost_sponsoredby">Sponsored by</p>
                                      <div class="d-flex align-items-center justify-content-md-end">
                                          <img class="ml-2" src="/assets/img/cost_sponsored_img01.png" alt="cost_sponsored_img" />
                                          <img class="ml-2" src="/assets/img/cost_sponsored_img02.png" alt="cost_sponsored_img" />
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
