<div class="body_section mt-4 mb-5">
    <div class="container">
        <div class="data_content_header d-flex align-items-center justify-content-center p-3">{{this.data.page_title}}</div>
        <div class="data_content_sec mb-5">
            <div class="row">
                <div class="col-12 p-5">
                    <div *ngIf="this.data" [innerHTML]="this.data.page_description | safeHtml"></div> 
                </div>
            </div>
        </div>
    </div>
</div>