<div class="body_section mt-4 mb-5">
  <div class="container">
      <app-stages-header></app-stages-header>

      <div class="data_content_sec mb-5">
          <div class="row">
              <div class="col-lg-3 col-md-4">
                  <div class="stage_budget_col_left p-3">
                      <div class="mb-4 pb-1">
                          <div class="stage_budget_title pb-3 mb-4">Stage 1 : Workforce</div>
                          <ul class="stage_budget_steps" *ngIf="!pause">
                              
                              <li class="mb-2 active"><a class="d-flex align-items-center p-3 w-100" routerLink="/stages/review-contractor"><img src="/assets/img/stage_budget_steps_icon02.png" alt="stage_budget_steps_icon" />Review Workforce</a></li>
                              <li class="mb-2 "><a class="d-flex align-items-center p-3 w-100" routerLink="/stages/choose-workforce"><img src="/assets/img/stage_budget_steps_icon03.png" alt="stage_budget_steps_icon" />Choose Workforce</a></li>
                          </ul>

                          <ul class="stage_budget_steps" *ngIf="pause">
                              
                              <li class="mb-2 active"><a class="d-flex align-items-center p-3 w-100" disabled><img src="/assets/img/stage_budget_steps_icon02.png" alt="stage_budget_steps_icon" />Review Workforce</a></li>
                              <li class="mb-2 "><a class="d-flex align-items-center p-3 w-100" disabled><img src="/assets/img/stage_budget_steps_icon03.png" alt="stage_budget_steps_icon" />Choose Workforce</a></li>
                          </ul>
                      </div>
                      <div class="mb-4 pb-1">
                          <div class="stage_budget_title pb-3 mb-4">Sponsored by</div>
                          <ul class="stage_sponsoredby">
                              <li class="d-flex p-4">
                                  <div class="stage_sponsoredby_img mr-3 d-flex align-items-center justify-content-center p-1"> 
                                    <img *ngIf="sponser" src="{{env.serverUrl+env.uploadsSponser+sponser?.logo}}" alt="{{sponser?.name}}">
                                    <img *ngIf="!sponser" src="{{env.serverUrl+env.uploadsSponser+'nologo.png'}}" alt="Sponser"></div>
                                  <div class="stage_sponsoredby_name mt-1">{{sponser?.name}}</div>
                              </li>
                          </ul>
                      </div>
                      <div class="mb-4 pb-1">
                          <div class="stage_budget_title pb-3 mb-4">Budget Calculator</div>
                          <div class="budget_table table-responsive">
                              <table class="table table-bordered">
                                <thead>
                                  <tr>
                                    <th scope="col">Unspent</th>
                                    <th scope="col">Spent</th>
                                  </tr>
                                </thead>
                                <tbody>
                                  <tr>
                                    <td class="budget_blue">$139 million</td>
                                    <td class="budget_green">$111 million</td>
                                  </tr>
                                  <tr>
                                    <td class="budget_blue">40 Minutes</td>
                                    <td class="budget_green">200 Minutes</td>
                                  </tr>
                                </tbody>
                              </table>
                          </div>
                      </div>
                      <div class="mb-4 pb-1">
                          <div class="stage_budget_title pb-3 mb-4">Scoring </div>
                          <div class="stage_scoring p-3">
                              <p class="stage_scoring_highlight">You will earn ${{saveAmount}} on Saving per minute </p>
                              <p class="stage_scoring_text mb-0"><strong>For example:</strong></p>
                              <p class="stage_scoring_text">On saving 10 minutes, your total earning will be </p>
                              <p class="stage_scoring_text">${{saveAmount}} x 10  <strong>= ${{saveAmount}}</strong></p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-9 col-md-8">
                  <div class="stage_budget_col_right pr-md-4 pl-md-0 px-3 py-4">
                      <div class="stage_status d-flex align-items-center mb-4 mt-2">
                          <div class="stage_title flex-fill">Stage 1</div>
                          <div class="stage_btn ml-auto">
                            <button *ngIf="!pause" (click)="storeTeamStageStatus()" class="btn btn_green"><img class="mr-3" src="/assets/img/play_btn_icon.png" alt="play_btn_icon" />Pause</button>

                            <button *ngIf="pause" (click)="resumeStage()" class="btn btn_green"><img class="mr-3" src="/assets/img/play_btn_icon.png" alt="play_btn_icon" />Play</button>
                          </div>
                      </div>
                      <div class="stage_detail_block">
                          <div class="stage_detail_header d-lg-flex d-block align-items-center py-lg-1 py-3 px-3">
                              <div class="stage_detail_header_title text-center text-lg-left mb-3 mb-lg-0">Review Workforce</div>
                              <div class="d-flex align-items-center ml-auto justify-content-lg-start justify-content-center">
                                  <div class="timer text-right mr-4"><small class="d-block text-white">Sponsored by</small><img src="/assets/img/walter_p_moore_logo.png" alt="walter_p_moore_logo"></div>
                                  <ul class="timer_clock d-flex align-items-center justify-content-md-end">
                                      <li class="text-center">
                                          <div class="timer_bg position-relative">
                                              <span class="timer_number position-absolute">
                                               <countdown #cd [config]="{ leftTime: remainingTime, format: 'mm:ss' }"></countdown></span>
                                          </div>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                          <div class="stage_detail_content_block px-3 py-5">
                              <div class="stage_detail_table choose_workforce_table table-responsive mb-5">
                                  <table class="table mb-0">
                                    <thead>
                                      <tr>
                                        <th scope="col">&nbsp;</th>
                                        <th scope="col">My Sub</th>
                                        <th scope="col">Cost / floor</th>
                                        <th scope="col">Total Cost</th>
                                        <th scope="col">Speed</th>
                                        <th scope="col">Quality</th>
                                        <th scope="col">Safety</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                      <ng-container *ngFor="let detail of contractorDetail | keyvalue">
                                        <tr *ngIf="detail.key != '_id' && detail.key != 'team_id' && detail.key != 'created_at' && detail.key != 'updated_at'" >
                                          <td scope="row">
                                            <span class="table_sub_head">{{detail.key}}</span>
                                          </td>
                                          <td class="mysub_option">
                                            <img src="/assets/img/stage_budget_steps_icon03.png"><p>{{detail.value.name}} </p>
                                          </td>
                                          <td>
                                              {{detail.value.cost}}
                                          </td>
                                          <td>
                                            {{detail.value.cost * gameDetail.floor }}
                                          </td>
                                          <td>
                                              {{detail.value.speed}}
                                          </td>
                                          <td>
                                              {{detail.value.quality}}
                                          </td>
                                          <td>
                                              {{detail.value.safty}}
                                          </td>
                                        </tr>

                                      </ng-container>
                                       <tr class="choose_workforce_cost">
                                          <td scope="row"></td>
                                          <td scope="row"></td>
                                          <td scope="row">Total</td>
                                          <td><strong>${{totalcost}}</strong><br>cost/floor</td>
                                          <td><strong>{{avgspeed}}</strong><br>Avg.</td>
                                          <td><strong>{{avgquality}}</strong><br>Avg.</td>
                                          <td><strong>{{avgsafety}}</strong><br>Avg.</td>
                                        </tr>
                                        
                                    </tbody>
                                  </table>
                              </div>
                              <div class="text-center mb-4 position-relative choose_workforce_btn">
                                  <a routerLink="/stages/result" class="btn" *ngIf="!pause">Submit</a>
                                  <a class="btn" *ngIf="pause">Submit</a>
                                  <div class="flex-fill ml-auto text-lg-right position-absolute workforce_sponsored_div mt-4 mt-lg-0">
                                      <p class="cost_sponsoredby">Sponsored by</p>
                                      <div class="d-flex align-items-center justify-content-lg-end justify-content-center">
                                          <img class="ml-2" src="/assets/img/cost_sponsored_img01.png" alt="cost_sponsored_img" />
                                          <img class="ml-2" src="/assets/img/cost_sponsored_img02.png" alt="cost_sponsored_img" />
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
