<div class="body_section mt-4 mb-5">
    <div class="container">
        <app-stages-header></app-stages-header>
        
        <div class="data_content_sec mb-5">
            <div class="row">
                <div class="col-lg-3 col-md-4">
                    <div class="stage_budget_col_left p-3">
                        <div class="mb-4 pb-1">
                            <div class="stage_budget_title pb-3 mb-4">Navigation</div>
                            <ul class="stage_budget_steps team_page_steps">
                                <li class="mb-2 active"><a class="d-flex align-items-center p-3 w-100" routerLink="/stages"><img src="/assets/img/team_icon.png" alt="stage_budget_steps_icon" />Team Page</a></li>
                                <li class="mb-2"><a class="d-flex align-items-center p-3 w-100" routerLink="/team-chat"><img src="/assets/img/team_chat_icon.png" alt="stage_budget_steps_icon" />Team Chat</a></li>
                            </ul>
                        </div>
                        <div class="mb-4 pb-1">
                            <div class="stage_budget_title pb-3 mb-4">Sponsored by</div>
                            <ul class="stage_sponsoredby">
                                <li class="d-flex p-4">
                                    <div class="stage_sponsoredby_img mr-3 d-flex align-items-center justify-content-center p-1">
                                    	<img *ngIf="sponser" src="{{env.serverUrl+env.uploadsSponser+sponser?.logo}}" alt="{{sponser.name}}">
                        				<img *ngIf="!sponser" src="{{env.serverUrl+env.uploadsSponser+'nologo.png'}}" alt="Sponser">
                                    </div>
                                    <div class="stage_sponsoredby_name mt-1">{{sponser?.name}}</div>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-9 col-md-8">
                    <div class="stage_budget_col_right pr-md-4 pl-md-0 px-3 py-4">
                        <div class="stage_detail_header d-lg-flex d-block align-items-center p-4">
                            <div class="stage_detail_header_title text-center text-lg-left">{{teamName.team_name}}</div>
                        </div>
                        <div class="team_member_table mb-4">
                            <div class="table-responsive">
                                <table class="table mb-0">
                                  <thead>
                                    <tr>
                                      <th scope="col">Img</th>
                                      <th scope="col">Member</th>
                                      <th scope="col">Stage Leader</th>
                                      <th scope="col">Action</th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    <ng-container *ngFor="let user of users;index as i;">
                                      <tr *ngIf="i <= 3">
                                        <td>
                                          <span class="member_img"><img src="/assets/img/user_avatar.png" alt="" /></span>
                                        </td>
                                        <td>
                                          <p class="member_name">{{user.first_name | titlecase }} {{user.last_name | titlecase }}</p>
                                          <p class="member_email">{{user.email}}</p>
                                        </td>
                                        <td class="stage_leader active">
                                          <span *ngIf="user.stage_leader && user.stage_leader.length > 0">
                                            <span *ngFor="let leader of user.stage_leader">
                                               Stage {{leader}}
                                            </span>
                                          </span>
                                        </td>
                                        <td><a href="javascript:void(0)" class="btn" data-toggle="modal" (click)="showModal(user._id,user.team_id)" *ngIf="userPosition == 1 && (!user.stage_leader || user.stage_leader.length == 0)">Assign</a>
                                        </td>
                                      </tr>
                                    </ng-container>
                                  </tbody>
                                </table>
                            </div>
                        </div>

                        <div class="stage_overview p-5 mb-4">
                            <div class="stage_overview_title text-center mb-5">Stage Overview</div>
                            <ul class="stage_overview_lists d-flex justify-content-center">
                                <li [ngClass]="{red: stageFirst}">
                                    <div class="stage_list_arrow">
                                      <div class="steps_arrow_circle"></div>
                                      <div class="steps_before"></div>
                                      <div class="steps_after"></div>
                                      <a routerLink="/stages/stage-intro/1" *ngIf="stageFirst">Stage<span>01</span></a>
                                      <a  *ngIf="!stageFirst">Stage<span>01</span></a>
                                    </div>
                                    <div class="steps_name mt-5 mb-3">Workforce</div>
                                </li>
                                <li [ngClass]="{blue: stageSecond}">
                                    <div class="stage_list_arrow">
                                      <div class="steps_arrow_circle"></div>
                                      <div class="steps_before"></div>
                                      <div class="steps_after"></div>
                                      <a routerLink="/stages/stage-intro/2" *ngIf="stageSecond">Stage<span>02</span></a>
                                      <a *ngIf="!stageSecond">Stage<span>02</span></a>
                                    </div>
                                    <div class="steps_name mt-5 mb-3">Placements</div>
                                </li>
                                <li [ngClass]="{orange: stageThird}">
                                    <div class="stage_list_arrow">
                                      <div class="steps_arrow_circle"></div>
                                      <div class="steps_before"></div>
                                      <div class="steps_after"></div>
                                      <a routerLink="/stages/stage-intro/3" *ngIf="stageThird">Stage<span>03</span></a>
                                      <a *ngIf="!stageThird">Stage<span>03</span></a>
                                    </div>
                                    <div class="steps_name mt-5 mb-3">Build Floors 1-27</div>
                                </li>
                                <li [ngClass]="{green: stageFour}">
                                    <div class="stage_list_arrow">
                                      <div class="steps_arrow_circle"></div>
                                      <div class="steps_before"></div>
                                      <div class="steps_after"></div>
                                      <a routerLink="/stages/stage-intro/4" *ngIf="stageFour">Stage<span>04</span></a>
                                      <a *ngIf="!stageFour">Stage<span>04</span></a>
                                    </div>
                                    <div class="steps_name mt-5 mb-3">Build Floors 28 - 37</div>
                                </li> 
                            </ul>
                        </div>

                        <div class="how_we_did_section">
                        	<div class="stage_detail_header p-3">
                            	<div class="stage_detail_header_title text-center">How our team did in each stage</div>
                        	</div>
                        	<div class="how_we_did_content no_result" *ngIf="!completedStages">
                            	<div class="no_result_title mb-3">No results!!</div>
                            	<div class="no_result_text">Our Team has not yet completed a Stage</div>
                          </div>
                          	<div class="team_member_table how_wedid_table mb-4" *ngIf="completedStages">
	                          	<div class="table-responsive">
	                            <table class="table mb-0">
	                                <thead>
	                                  <tr>
	                                    <th scope="col"></th>
	                                    <th scope="col">Member</th>
	                                    <th scope="col">Stage Leader</th>
	                                    <th scope="col">Status</th>
	                                    <th scope="col">Results</th>
	                                  </tr>
	                                </thead>
	                                <tbody>
	                                <ng-container *ngFor="let i of [1,2,3,4]">
	                                    <tr>
	                                        <td>
	                                            <span class="member_img"><img src="/assets/img/user_avatar.png" alt="user_avatar" /></span>
	                                        </td>
	                                        <td>
	                                            <p class="member_name"> {{ getUser(i) | titlecase}} </p>
	                                        </td>
	                                        <td class="stage_leader active">Stage {{i}}</td>
	                                        <td class="stage_progress completed" *ngIf="getStageDetail(i,'status')"><span></span>{{getStageDetail(i,'status')}}</td>
	                                        <td class="stage_progress not_played" *ngIf="!getStageDetail(i,'status')"><span></span>Yet to be Played</td>
	                                        <td class="earnings" *ngIf="getStageDetail(i,'status')">Earnings: <strong>${{getStageDetail(i,'score')}}</strong>
	                                        	<span class="info_icon position-relative" ><img src="/assets/img/info_icon.svg" alt="info_icon" (click)="getScoreData(i)"/>
	                                            <div class="earning_details_tooltip position-absolute w-100" id="stage{{i}}">
	                                                <ul>
	                                                    <li><span class="earning_saving">${{scoreDetail?.price}} x {{scoreDetail?.savedMin}} minutes saved</span></li>
                                                      <ng-container *ngIf="answerDetail">
                                                        
  	                                                    <li *ngFor="let answer of answerDetail | keyvalue;">
  	                                                    	<span class="quantity flex-fill">${{answer.value[0].price}} x {{answer.value[0].total}} </span>
  	                                                    	<span class="earning_status_good">{{answer.key}}</span>
  	                                                	  </li>
                                                      </ng-container>
	                                                </ul>
	                                            </div>
	                                        	</span>
	                                        </td>
	                                        <td class="earnings" *ngIf="!getStageDetail(i,'status')">Yet to be Played</td>  
	                                    </tr>
	                                </ng-container>
	                                </tbody>
	                            </table>
	                          	</div>
                    		</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade my_modal" id="stageLeader" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content py-4">
      <div class="modal-header">
        <h5 class="modal-title">Select Leadership</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form [formGroup]="assignLeaderForm" (ngSubmit)="assignLeader()">
          <input type="hidden" formControlName="user_id" [ngModel]="user_id">
          <input type="hidden" formControlName="team_Id" [ngModel]="team_Id">
          <ul class="pop_up_list">
            <ng-container *ngFor="let i of [1,2,3,4]">
              <li class="p-4 mb-3" *ngIf="stages.indexOf(i) == -1">
                <div class="custom-control custom-checkbox">
                  <input type="checkbox" formControlName="stage{{i}}" class="custom-control-input" id="customCheck{{i}}">
                  <label class="custom-control-label" for="customCheck{{i}}">Stage {{i}} Leader</label>
                </div>
              </li>
            </ng-container>  
          </ul>
          <div class="text-center mt-4" *ngIf="stages.length != 4"><button type="submit" class="btn">Assign Leadership</button></div>
        </form>
      </div>
    </div>
  </div>
</div>
