<div class="body_section mt-4 mb-5">
  <div class="container">
      <app-gameheader></app-gameheader>
      <div class="data_content_sec mb-5">
          <div class="row justify-content-center">
              <div class="col-12 col-sm-8 col-md-6 col-lg-4 text-center">
                  <h2 class="login_title mt-5">Send Invations link to Users</h2>
                  <form [formGroup]="sendInvitesForm" (ngSubmit)="sendInviteLink()" class="form_sec p-4 pb-5">
                      <input type="hidden" formControlName="team_id" [ngModel]="currentUser.team_id">
                      <div class="form-group">
                          <input class="form-control" formControlName="email" type="text" placeholder="Email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                          <div *ngIf="submitted && f.email.errors" class="invalid-feedback text-left">
                            <div *ngIf="f.email.errors.required">Email is required</div>
                            <div *ngIf="f.email.errors.email">Email is not valid</div>
                          </div>
                      </div>
                      <div class="col-12">
                        <div class="form_btn_view mt-5">
                            <div class="signin_form_btn_view">
                                <button class="btn" type="submit">Send <i class="fas fa-chevron-circle-right ml-4"></i></button>
                            </div>
                            <div class="or_divider text-center my-4"><span>Or</span></div>
                            <a class="btn cancel_btn m-2" routerLink="/stages">Skip <i class="fas fa-times-circle ml-4"></i></a>
                        </div>
                     </div>

                  </form>
              </div>
          </div>
      </div>
  </div>
</div>
