<div class="body_section mt-4 mb-5">
    <div class="container">
        <app-gameheader></app-gameheader>
        <div class="row">
            <div class="col-lg-3 col-md-4">
                <div class="stage_budget_col_left profile_menu_block p-3">
                    <app-profilesidebar></app-profilesidebar>
                </div>
            </div>
            <div class="col-lg-9 col-md-8">
                <div class="stage_budget_col_right">
                    <div class="profile_ata_block p-4">
                        <div class="stage_title flex-fill mb-4">My Profile</div>
                        <form name="form" (ngSubmit)="f.form.valid && submitForm()" #f="ngForm" novalidate class="form_sec p-4 pb-5">
                            <div class="form-group">
                                <input type="text" class="form-control" name="first_name" [(ngModel)]="userForm.first_name" #first_name="ngModel"  placeholder="Firt Name" required />
                                <div *ngIf="f.submitted && first_name.invalid" class="text-danger" >
                                    <div *ngIf="first_name.errors.required">First Name is required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="last_name" [(ngModel)]="userForm.last_name" #last_name="ngModel"  placeholder="Firt Name" required />
                                <div *ngIf="f.submitted && last_name.invalid" class="text-danger" >
                                    <div *ngIf="last_name.errors.required">First Name is required</div>
                                </div>
                            </div>
                            <div class="form-group">
                                <input type="text" class="form-control" name="email" [(ngModel)]="userForm.email" #email="ngModel"  placeholder="Email" required />
                                <div *ngIf="f.submitted && email.invalid" class="text-danger" >
                                    <div *ngIf="email.errors.required">Email is required</div>
                                </div>
                            </div>
                            
                            <div class="form_btn_view my-5">
                                <button class="btn" type="submit">Update <i class="fas fa-chevron-circle-right ml-4"></i></button>
                            </div>
                        </form>
                        
                    </div>
                </div>
            </div>
        </div>
      
    </div>
</div>
