.customWork_area_panel{
    width: 100%;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.customWork_area_panel img{
    max-width: 100%;
    max-height: 100%;
    display: inline-block;
}
.work_area_head_border{
    border-radius: 0 0 6px 6px !important;
}

.logos_list{ border-radius: 3px; overflow: hidden; background-color: #ffffff; border: 1px solid #dddddd;}
.logos_list_img{ height: 16rem; display: flex; align-items: center; justify-content: center; border-bottom: 1px solid #dddddd;background-color: #dddddd;padding: 1.07rem;}
.logos_list_img img{ max-width: 100%; max-height: 100%; display: inline-block;}
.logos_list_desc{ padding: .8rem 1rem;min-height: 10.7rem;}
.logos_list_desc li{ font-size: 0.9rem; padding-top: .5rem;}
.logos_list_desc li:first-child{ padding-top: 0rem;}
.company_name{ font-size: 1.2rem !important; color: #f15b29; font-weight: 600;}
.logos_list_desc li a{ color: #32a4d5;}

























