<div class="body_section mt-4 mb-5">
    <div class="container">
        <app-gameheader></app-gameheader>
        <div class="stage_budget_col_right mb-5">                  
            <div class="stage_detail_block">
                <div class="stage_detail_content_block research_content_second px-3">
                    <div class="row">
                        <div class="col-12 col-sm-6 col-md-4 py-3" *ngFor="let detail of this.details">
                            <div class="logos_list">
                                <div class="logos_list_img"><img src="{{env.serverUrl+env.uploadsLogo+this.detail.logo}}" alt="crane_icon"></div>
                                <ul class="logos_list_desc">
                                    <li class="company_name">{{this.detail.company}}</li>
                                    <li class="logos_focus">Focus: <span *ngIf="this.detail.focus">{{this.detail.focus}}</span></li>
                                    <li class="employees" >Employees: <span *ngIf="this.detail.employee">{{this.detail.employee}}</span></li>
                                    <li class="logos_reach">Reach: <span *ngIf="this.detail.reach">{{this.detail.reach}}</span></li>
                                    <li class="logos_website_link">Website: <a href="{{this.detail.link}}" target="_blank">Visit Website</a></li>
                                </ul>
                            </div>
                                <!--<div class="work_area_detail w-100 pb-0">
                                    <div class="work_area_head p-2 text-center">{{this.detail.company}} </div>
                                    <div class="work_area_list d-flex flex-column">
                                        <div class="work_area_item blue">
                                            <div class="customWork_area_panel text-center d-flex flex-column justify-content-center align-items-center p-2 customWork_area_panel">
                                                <img class="mx-auto " src="{{env.serverUrl+env.uploadsLogo+this.detail.logo}}" alt="crane_icon">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="work_area_head p-2 text-center work_area_head_border"><a href="{{this.detail.link}}">Visit {{this.detail.company}}</a> </div>
                                </div>-->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div  class="text-center"><a class="btn d-inline-flex align-items-center" routerLink="/knowledge-videos">You Should Know  <i class="fas fa-chevron-circle-right ml-3"></i></a></div>
    </div>
  </div>
  