<div class="body_section mt-4 mb-5">
  <div class="container">
      <app-stages-header></app-stages-header>
      <div class="data_content_sec mb-5">
          <div class="row">
              <div class="col-lg-3 col-md-4">
                  <div class="stage_budget_col_left p-3">
                      <div class="mb-4 pb-1">
                          <div class="stage_budget_title pb-3 mb-4">Stage 1 : Workforce</div>
                          <ul class="stage_budget_steps" *ngIf="!pause">
                              
                              <li class="mb-2"><a class="d-flex align-items-center p-3 w-100" routerLink="/stages/review-contractor"><img src="/assets/img/stage_budget_steps_icon02.png" alt="stage_budget_steps_icon" />Review Workforce</a></li>
                              <li class="mb-2 active"><a class="d-flex align-items-center p-3 w-100" routerLink="/stages/choose-workforce"><img src="/assets/img/stage_budget_steps_icon03.png" alt="stage_budget_steps_icon" />Choose Workforce</a></li>
                          </ul>

                          <ul class="stage_budget_steps" *ngIf="pause">
                              
                              <li class="mb-2"><a class="d-flex align-items-center p-3 w-100" disabled><img src="/assets/img/stage_budget_steps_icon02.png" alt="stage_budget_steps_icon" />Review Workforce</a></li>
                              <li class="mb-2 active"><a class="d-flex align-items-center p-3 w-100" disabled><img src="/assets/img/stage_budget_steps_icon03.png" alt="stage_budget_steps_icon" />Choose Workforce</a></li>
                          </ul>
                      </div>
                      <div class="mb-4 pb-1">
                          <div class="stage_budget_title pb-3 mb-4">Sponsored by</div>
                          <ul class="stage_sponsoredby">
                              <li class="d-flex p-4">
                                  <div class="stage_sponsoredby_img mr-3 d-flex align-items-center justify-content-center p-1">
                                    <img *ngIf="sponser" src="{{env.serverUrl+env.uploadsSponser+sponser?.logo}}" alt="{{sponser?.name}}">
                                	<img *ngIf="!sponser" src="{{env.serverUrl+env.uploadsSponser+'nologo.png'}}" alt="Sponser"></div>
                                  <div class="stage_sponsoredby_name mt-1">{{sponser?.name}}</div>
                              </li>
                          </ul>
                      </div>
                      <div class="mb-4 pb-1">
                          <div class="stage_budget_title pb-3 mb-4">Scoring </div>
                          <div class="stage_scoring p-3">
                              <p class="stage_scoring_highlight">You will earn ${{saveAmount}} on Saving per minute </p>
                              <p class="stage_scoring_text mb-0"><strong>For example:</strong></p>
                              <p class="stage_scoring_text">On saving 10 minutes, your total earning will be </p>
                              <p class="stage_scoring_text">${{saveAmount}} x 10  <strong>= ${{saveAmount * 10}}</strong></p>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-lg-9 col-md-8">
                  <div class="stage_budget_col_right pr-md-4 pl-md-0 px-3 py-4">
                      <div class="stage_status d-flex align-items-center mb-4 mt-2">
                          <div class="stage_title flex-fill">Stage 1 </div>
                          <div class="stage_btn ml-auto">
                            <button *ngIf="!pause" (click)="storeTeamStageStatus()" class="btn btn_green"><img class="mr-3" src="/assets/img/play_btn_icon.png" alt="play_btn_icon" />Pause</button>

                            <button *ngIf="pause" (click)="resumeStage()" class="btn btn_green"><img class="mr-3" src="/assets/img/play_btn_icon.png" alt="play_btn_icon" />Play</button>
                          </div>
                      </div>
                      <div class="stage_detail_block">
                        
                          <div class="stage_detail_header d-lg-flex d-block align-items-center py-lg-1 py-3 px-3">
                              <div class="stage_detail_header_title text-center text-lg-left mb-3 mb-lg-0">Choose Workforce</div>
                              
                              <div class="d-flex align-items-center ml-auto justify-content-lg-start justify-content-center">
                                  <div class="timer text-right mr-4"><small class="d-block text-white">Sponsored by</small><img src="/assets/img/walter_p_moore_logo.png" alt="walter_p_moore_logo"></div>
                                  <ul class="timer_clock d-flex align-items-center justify-content-md-end">
                                      <li class="text-center">
                                          <div class="timer_bg position-relative">
                                              <span class="timer_number position-absolute">
                                              <countdown #cd [config]="{ leftTime: remainingTime, format: 'mm:ss' }"></countdown></span>
                                          </div>
                                      </li>
                                  </ul>
                              </div>
                          </div>
                          <div class="stage_detail_content_block px-3 py-5">
                            <form [formGroup]="saveWorkForceForm"  (ngSubmit)="saveWorkForce()">
                              <input type="hidden" formControlName="team_id" [ngModel]="currentUser.team_id">
                              <div class="stage_detail_table choose_workforce_table table-responsive mb-5">
                                  <table class="table mb-0">
                                    <thead>
                                      <tr>
                                        <th scope="col"></th>
                                        <th scope="col">My Sub</th>
                                        <th scope="col">Cost</th>
                                        <th scope="col">Speed</th>
                                        <th scope="col"></th>
                                        <th scope="col">Selected</th>
                                      </tr>
                                    </thead>
                                    <tbody>
                                        <ng-container *ngFor="let detail of details | keyvalue">
                                          <tr>
                                            <td scope="row">
                                              <span class="table_sub_head">{{categoryArray[detail.key]}}</span>
                                            </td>
                                            <ng-container *ngFor="let data of detail.value">
                                              <td class="mysub_option">
                                                <a href="javascript:void(0)" data-toggle="modal" (click)="showModal(data._id)" > <img src="/assets/img/stage_budget_steps_icon03.png"><p>{{data.name}} </p></a>
                                                <span (click)="selectContractor(detail.key,data._id,data.name)" class="add">Add</span>
                                              </td>
                                            </ng-container>
                                            <ng-container *ngIf="detail.value.length < 3">
                                              <td></td> 
                                            </ng-container>
                                            <td></td>
                                            <td>
                                              <ng-container *ngIf="detail.key == 1">
                                                <a href="javascript:void(0)" data-toggle="modal" (click)="showModal(concrete)" *ngIf="concrete"> <img src="/assets/img/stage_budget_steps_icon03.png"> <p>{{concreteName}}  </p> </a>
                            
                                                <input type="hidden" formControlName="concrete" [ngModel]="concrete">
                                              </ng-container>
                                              <ng-container *ngIf="detail.key == 2">
                                                <a href="javascript:void(0)" data-toggle="modal" (click)="showModal(electrical)" *ngIf="electrical"> <img src="/assets/img/stage_budget_steps_icon03.png"> <p>{{electricalName}} </p> </a>
                            
                                                <input type="hidden" formControlName="electrical" [ngModel]="electrical">
                                              </ng-container>
                                              <ng-container *ngIf="detail.key == 3">
                                                <a href="javascript:void(0)" data-toggle="modal" (click)="showModal(mechanical)" *ngIf="mechanical"> <img src="/assets/img/stage_budget_steps_icon03.png"> <p>{{mechanicalName}} </p> </a>
                            
                                                <input type="hidden" formControlName="mechanical" [ngModel]="mechanical">
                                              </ng-container>
                                              <ng-container *ngIf="detail.key == 4">
                                                <a href="javascript:void(0)" data-toggle="modal" (click)="showModal(plumbing)" *ngIf="plumbing"> <img src="/assets/img/stage_budget_steps_icon03.png"> <p>{{plumbingName}} </p></a>
                            
                                                <input type="hidden" formControlName="plumbing" [ngModel]="plumbing">
                                              </ng-container>
                                              <ng-container *ngIf="detail.key == 5">
                                                <a href="javascript:void(0)" data-toggle="modal" (click)="showModal(drywall)" *ngIf="drywall"> <img src="/assets/img/stage_budget_steps_icon03.png"> <p>{{drywallName}} </p></a>
                            
                                                <input type="hidden" formControlName="drywall" [ngModel]="drywall">
                                              </ng-container>
                                              <ng-container *ngIf="detail.key == 6">
                                                <a href="javascript:void(0)" data-toggle="modal" (click)="showModal(curtainwall)" *ngIf="curtainwall"> <img src="/assets/img/stage_budget_steps_icon03.png"> <p> {{curtainwallName}} </p> </a>
                            
                                                <input type="hidden" formControlName="curtainwall" [ngModel]="curtainwall">
                                              </ng-container>
                                              <ng-container *ngIf="detail.key == 7">
                                                <a href="javascript:void(0)" data-toggle="modal" (click)="showModal(finish)" *ngIf="finish"> <img src="/assets/img/stage_budget_steps_icon03.png"> <p>{{finishName}} </p> </a>
                            
                                                <input type="hidden" formControlName="finish" [ngModel]="finish">
                                              </ng-container>
                                            </td>
                                          </tr>
                                        </ng-container>
                                    </tbody>
                                  </table>
                              </div>
                             

                              <div class="text-center mb-4 position-relative choose_workforce_btn">
                                  <button class="btn" type="submit" [disabled]="pause">Submit</button>
                                  
                                  <div class="flex-fill ml-auto text-lg-right position-absolute workforce_sponsored_div mt-4 mt-lg-0">
                                      <p class="cost_sponsoredby">Sponsored by</p>
                                      <div class="d-flex align-items-center justify-content-lg-end justify-content-center">
                                          <img class="ml-2" src="/assets/img/cost_sponsored_img01.png" alt="cost_sponsored_img" />
                                          <img class="ml-2" src="/assets/img/cost_sponsored_img02.png" alt="cost_sponsored_img" />
                                      </div>
                                  </div>
                              </div>
                            </form>                            
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<div class="modal fade contractor" id="contractor" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content py-4">
      <div class="modal-header">
        <h5 class="modal-title">{{categoryArray[contractor.category]}}   Subcontractor</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <table class="table mb-0">
            <thead>
              
              <tr>
                <th>Name</th>
                <th>{{contractor.name}}</th>
              </tr>
              <tr>
                <th>Speed</th>
                <th>{{contractor.speed}}</th>
              </tr>
              <tr>
                <th>Cost</th>
                <th>{{contractor.cost}}</th>
              </tr>
              <tr>
                <th>Quality</th>
                <th>{{contractor.quality}}</th>
              </tr>
              <tr>
                <th>Safty</th>
                <th>{{contractor.safty}}</th>
              </tr>
            </thead>
            <tbody>
            </tbody>
          </table>
      </div>
    </div>
  </div>
</div>
