<countdown  #countdown  [config]="{leftTime: 20}" (finished)="finishTest()">$!h!:$!m!:$!s!</countdown>
<button (click)="startTimer()" class="btn btn-sm btn_green">Play</button>
<button (click)="pauseTimer()" class="btn btn-sm btn_green">Pause</button>