<div class="body_section mt-4 mb-5">
    <div class="container">
        <h1 class="page_title text-center mb-5"> {{this.contentSettings.main_page_title}} <small class="pt-3">{{this.contentSettings.main_page_subtitle}}</small></h1>
        <div class="row justify-content-center">
            <div class="col-12 col-md-10 col-lg-8">
                <div class="leader_board_video mb-5">
                    <video width="" controls>
                      <source src="/assets/img/mov_bbb.mp4" type="video/mp4">
                      <source src="/assets/img/mov_bbb.mp4" type="video/ogg">
                      Your browser does not support HTML5 video.
                    </video>
                </div>
                <div class="text-center"><a class="btn d-inline-flex align-items-center" routerLink="/company-logo">Featured Companies <i class="fas fa-chevron-circle-right ml-3"></i></a></div>
            </div>
        </div>
    </div>
</div>
