<div class="body_section mt-4 mb-5">
  <div class="container">
      <app-gameheader></app-gameheader>
      <div class="data_content_sec mb-5">
          <div class="row justify-content-center">
              <div class="col-12 col-sm-8 col-md-6 col-lg-4 text-center">
                  <h2 class="login_title mt-5">Forget Password</h2>
                  <form [formGroup]="forgetPasswordForm" (ngSubmit)="forgetPassword()" class="form_sec p-4 pb-5">
                      <div class="form-group">
                          <input class="form-control" formControlName="email" type="text" placeholder="Email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }">
                          <div *ngIf="submitted && f.email.errors" class="invalid-feedback text-left">
                            <div *ngIf="f.email.errors.required">Email is required</div>
                            <div *ngIf="f.email.errors.email">Email is not valid</div>
                          </div>
                      </div>
                      <div class="form_btn_view my-5">
                          <button class="btn" type="submit">Submit <i class="fas fa-chevron-circle-right ml-4"></i></button>
                      </div>
                      <div class="already_account">Already have an account? <a routerLink="/login">Login</a></div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>
