<div class="body_section mt-4 mb-5">
  <div class="container">
     
      <app-stages-header></app-stages-header>

      <div class="data_content_sec mb-5">
          <div class="row">
              <div class="col-12 p-5">
                  <div class="row">
                      <div class="col-12">
                          <div class="stage_number text-center mb-4 pb-2">Stage {{content.stage}}</div>
                      </div>
                  </div>
                  <div class="row justify-content-center">
                      <div class="col-12 col-md-10 col-lg-10">
                          <div class="stage_panel">
                              <div class="data_content_header stage_panel_header d-flex align-items-center justify-content-center p-3">Strategy & Hints</div>
                              <div class="stage_panel_content">
                                  <div class="stage_panel_content_inner p-3" [innerHTML]="content.strategyDetail">
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
                  <div class="stage_btn_group text-center">
                    <ng-container *ngIf="gameStage == '1' || gameStage == '2'">
                      <a routerLink="/stages/research-center/{{gameStage}}"  class="btn btn_green m-2">Play Now</a>
                    </ng-container>
                    <ng-container *ngIf="gameStage == '3' || gameStage == '4'">
                      <a routerLink="/stages/issue-messengers/{{gameStage}}"  class="btn btn_green m-2">Play Now</a>
                    </ng-container>
                      <a routerLink="/team-chat" class="btn btn_blue m-2">Chat with Team</a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

