<div class="body_section mt-4 mb-5">
        <div class="container">
            <app-stages-header></app-stages-header>
            
            <div class="data_content_sec mb-5">
                <div class="row">
                    <div class="col-12 p-5">
                        <div class="finished_section text-center">
                            <div class="finish_title mb-3">Congratulations!</div>
                            <div class="finish_postion mb-4">You have completed Stage 2</div>
                            <div class="finish_img mx-auto mb-4">
                                <img src="/assets/img/finish_img02.png" alt="finish_img" />
                            </div>
                            <p class="stage_finish_para_green mb-4">You saved {{savedMinute}} minutes </p>
                            <p class="stage_finish_common_para mb-5"><strong><span>${{saveAmount}}</span> x <span>{{savedMinute}} minutes</span> = ${{saveAmount * savedMinute}}</strong></p>
                            <p class="stage_finish_para_blue mb-4">Fee earned from Placements</p>
                            <div class="stage_finish_list mx-auto">
                                <table class="table">
                                  <tbody>
                                    <tr>
                                      <th scope="row">{{placementDetail?.crane.answer}} Choice for Crane:</th>
                                      <td *ngIf="placementDetail?.crane.answer == 'Good'">$100,000</td>
                                      <td *ngIf="placementDetail?.crane.answer == 'Better'">$200,000</td>
                                      <td *ngIf="placementDetail?.crane.answer == 'Best'">$300,000</td>
                                    
                                    </tr>
                                    <tr>
                                      <th scope="row">{{ placementDetail?.trailer.answer }} Choice for Command Trailer:</th>
                                      <td *ngIf="placementDetail?.trailer.answer == 'Good'">$100,000</td>
                                      <td *ngIf="placementDetail?.trailer.answer == 'Better'">$200,000</td>
                                      <td *ngIf="placementDetail?.trailer.answer == 'Best'">$300,000</td>
                                    
                                    </tr>
                                    <tr>
                                      <th scope="row">{{ placementDetail?.ingress.answer }} Choice for Ingress/Egress:</th>
                                      <td *ngIf="placementDetail?.ingress.answer == 'Good'">$100,000</td>
                                      <td *ngIf="placementDetail?.ingress.answer == 'Better'">$200,000</td>
                                      <td *ngIf="placementDetail?.ingress.answer == 'Best'">$300,000</td>
                                    
                                    </tr>
                                    <tr>
                                      <th scope="row">{{ placementDetail?.material.answer }} Choice for Material Stockpile:</th>
                                      <td *ngIf="placementDetail?.material.answer == 'Good'">$100,000</td>
                                      <td *ngIf="placementDetail?.material.answer == 'Better'">$200,000</td>
                                      <td *ngIf="placementDetail?.material.answer == 'Best'">$300,000</td>
                                    
                                    </tr>
                                    <tr>
                                      <th scope="row">TOTAL:</th>
                                      <td>${{ total  }}</td>
                                    </tr>
                                  </tbody>
                                </table>
                            </div>
                            <div class="stage_save_outer_box position-relative mx-auto mb-4 pb-2">
                                <div class="stage_save_status_outer">
                                    <div class="stage_save_status w-100 d-flex mx-auto">
                                        <div class="save_status_left"><div class="d-flex align-items-center justify-content-center flex-column h-100"><h3>Stage<span class="d-block">2</span></h3></div></div>
                                        <div class="save_status_right"><div class="d-flex align-items-center justify-content-center flex-column h-100"><h3>Earnings<span class="d-block">${{this.result.score}}</span></h3></div></div>
                                    </div> 
                                </div>
                            </div>

                            <div class="play_stage_btn">
                                <a routerLink="/stages/leaderboard/2" class="btn btn_green">Leaderboard Stage 2</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>